@model banimo.ViewModel.commentModel
@{
    ViewBag.Title = Resources.res.productList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/addCommentStyle.css" rel="stylesheet" />
<script>
    if ('@ViewBag.mess' === "200") {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.success('@Resources.res.commentSet')
    }
    else if ('@ViewBag.mess' === "500") {
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.error('@Resources.res.cannotComment')
    }
</script>
@{
    //string data = @ViewBag.data;
    //string imageAddress = data.Split(',')[1];
    //string id = data.Split(',')[0];
    
    <div class="addcommentmain">
        <div class="row content">

            <div class="col-lg-4 content mustbeshow" id="imageholder" style="display:none">
                <img class=" img" src="~/images/panelimages/@Model.img"  />
            </div>
            <div class="col-lg-8 content" id="formholder" >
                <form id="commentForm" method="post" >
                    @Html.HiddenFor(x=>x.Commenttype)
                    <div class="FormRow">
                        <p class="titleheader">@Resources.res.yourCommentTitle (@Resources.res.ejbari)</p>
                        @Html.TextBoxFor(x => x.title, new { @class = "field commentTitle", placeholder = Resources.res.writeYourComment })
                      
                    </div>
                    <div class="FormRow">
                        <p class="titleheader">@Resources.res.commentContent (@Resources.res.ejbari)</p>
                        @*<textarea class="" rows="10" placeholder=""></textarea>*@
                        @Html.TextAreaFor(x => x.desc, new { @class = "field commentDesc", row = "10", placeholder = Resources.res.writeContetnComment })
                    </div>
                    <div class="FormRow buttHolder">
                        <div class="content" id="verify">
                            <p>@Resources.res.OK</p>
                            <i id="verifyflag" style="display:none"></i>
                        </div>
                        <script>
                            $(".field").on('input',function () {
                              
                                var thisval = $(this).val();
                               
                                if (thisval.length > 1) {
                                    $(this).css("border-color", "#b5afaf");
                               
                                }
                                else {
                                    $(this).css("border-color", "red");
                                }

                            })
                            $("#verify").click(function () {
                                //alert("aa");
                                var counter = 0;
                                $(".field").each(function () {
                                    var val = $(this).val();
                                   // alert(val)
                                    if (val === "") {
                                        $(this).css("border-color", "red");
                                        $("#verifyflag").text("1");
                                        counter = counter + 1;
                                    }
                                  
                                })
                               
                                if (counter === 0)
                                {
                                    //alert("aa");
                                    $("form#commentForm").submit();
                                }

                            })
                        </script>
                    </div>

                </form>

            </div>
            <div class="col-lg-4 content mustbehide" id="imageholder">
                <img class=" img" src="~/images/panelimages/@Model.img" />
            </div>
        </div>
    </div>
}
