@model banimo.ViewModel.DownloadAppVM
@{
    ViewBag.Title = "dApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model != null)
    {
        string srt = @Model.name;
        string link = @Model.googlePlayLink;
        <a id="" href='@link' class=" button stroke googleplay">
            <span class="icon-circle-down"></span>
            دانلود از گوگل پلی
        </a>
    }
}



@*<a id="@Model.model.cafeBazarLink" href="@Model.model.cafeBazarLink" class=" button stroke cafebazar">
        <span class="icon-circle-down" aria-hidden="true"></span>
        دانلود از کافه بازار
    </a>
    <a href="@Model.model.directLink" class=" button stroke">
        <span class="icon-circle-down" aria-hidden="true"></span>
        دانلود مستقیم
    </a>
    <a href='@Model.model.sibappLink' class=" button stroke">
        <span class="icon-circle-down" aria-hidden="true"></span>
        دانلود از سیب اپ
    </a>*@
