@model banimo.ViewModel.ProfileVM
@{
    ViewBag.Title = "پروفایل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery.mobile-1.4.5.js"></script>
    <link href="~/Content/jquery.mobile-1.4.5.css" rel="stylesheet" />*@
<link href="~/Content/languageStyle.css" rel="stylesheet" />
<link href="~/Content/profileStyle.css" rel="stylesheet" />
<script>

    if (window.innerWidth < 950) {
        var number = "-" + width + "px";
       // $("#orderDetailHoLDER").css("margin-right", number);
    }

</script>




<div>

    <div class="row" style="margin:0px; margin-top:25px; border-right:1px solid #eee">


        <div id="SECTIONOFIBdiv" class="col-lg-9 col-lg-12 col-sm-12">
            <div id="contentholder" class="row" style="margin:2px">



                <div style="text-align:center">

                    <div id="loaderHolder" style="padding:15px 35px; background-color:white;margin: auto;top: 0;left: 0; bottom: 0; right: 0;max-height:150px; max-width:250px">

                        <img style="max-width:80px; display:block; margin:auto" src="~/images/logo.png" />
                        <img src="~/images/adminloading.gif" style="display:block; margin:auto; margin-top:15px" />

                    </div>
                    <div id="productlistHoLDER">
                        <div class="row sectionItem" id="userdataSectino" style="margin:0">
                            <style>

                                .c-profile-page .o-page__content {
                                    padding-left: 0;
                                    padding-right: 22px;
                                    -webkit-box-flex: 0;
                                    flex: 0 0 79%;
                                    max-width: 79%;
                                    margin-top: -55px;
                                }



                                .o-page__content {
                                    position: relative;
                                    width: 100%;
                                    min-height: 1px;
                                }

                                .o-grid .row {
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin-right: 0px;
                                    margin-left: 0px;
                                }

                                .o-grid .col-12 {
                                    -webkit-box-flex: 0;
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                    direction: rtl;
                                }

                                .o-headline--profile {
                                    padding-left: 0;
                                    -webkit-box-align: end;
                                    align-items: flex-end;
                                    color: #858585;
                                    margin: 10px 0 15px;
                                    -webkit-box-pack: justify;
                                    justify-content: space-between;
                                }

                                .o-headline {
                                    padding: 0 30px;
                                    padding-left: 30px;
                                    position: relative;
                                    display: flex;
                                }

                                .o-headline--profile > span {
                                    color: inherit;
                                    font-weight: 400;
                                }

                                .o-headline > h2, .o-headline > span {
                                    font-size: 1rem;
                                    line-height: 31px;
                                }

                                .c-profile-stats {
                                    background-color: #fff;
                                    box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.1);
                                    border: 1px solid #dedede;
                                    margin-bottom: 23px;
                                    padding-bottom: 43px;
                                    height: calc(100% - 68px);
                                }

                                .c-profile-stats__row {
                                    -ms-flex-wrap: wrap;
                                    margin-right: 0;
                                    margin-left: 0;
                                    border-bottom: 1px solid #f1f1f1;
                                    min-height: 90px;
                                    text-align: right;
                                    direction: rtl
                                }


                                .c-profile-stats__col {
                                    position: relative;
                                    width: 100%;
                                    min-height: 1px;
                                    -webkit-box-flex: 0;
                                    flex: 0 0 50%;
                                    max-width: 50%;
                                    padding: 20px 30px;
                                    border-right: 1px solid #f1f1f1;
                                }

                                    .c-profile-stats__col:first-child {
                                        float: left;
                                    }

                                    .c-profile-stats__col p {
                                        font-size: 1rem;
                                        line-height: 1.158;
                                        letter-spacing: -.5px;
                                        color: #939393;
                                    }

                                        .c-profile-stats__col p span {
                                            display: block;
                                            font-size: .929rem;
                                            line-height: 1.692;
                                            letter-spacing: -.3px;
                                            margin-bottom: 4px;
                                            color: #bababa;
                                        }

                                .c-profile-stats__action {
                                    padding: 14px 30px 17px;
                                    text-align: center;
                                    border-top: 1px solid #f1f1f1;
                                    font-size: .857rem;
                                    line-height: 1.833;
                                    position: absolute;
                                    bottom: 14px;
                                    height: 54px;
                                    left: 0;
                                    right: 0;
                                    margin-top: -1px;
                                }

                                .c-profile-stats__action_edit {
                                    padding: 14px 30px 17px;
                                    text-align: center;
                                    border-top: 1px solid #f1f1f1;
                                    font-size: .857rem;
                                    line-height: 1.833;
                                    position: absolute;
                                    bottom: 14px;
                                    height: 54px;
                                    left: 0;
                                    right: 0;
                                    margin-top: -1px;
                                    width: 10%;
                                    margin-left: 40%;
                                }

                                .c-profile-stats__action_edit2 {
                                    padding: 14px 30px 17px;
                                    text-align: center;
                                    border-top: 1px solid #f1f1f1;
                                    font-size: .857rem;
                                    line-height: 1.833;
                                    position: absolute;
                                    bottom: 14px;
                                    height: 54px;
                                    left: 0;
                                    right: 0;
                                    margin-top: -1px;
                                    width: 10%;
                                    margin-left: 50%;
                                }

                                .btn-link-spoiler {
                                    color: #1ca2bd;
                                    padding: 0;
                                    line-height: 2;
                                    display: inline-block;
                                    background: none;
                                    border: none;
                                    outline: none;
                                    cursor: pointer;
                                    position: relative;
                                    text-align: center;
                                    white-space: nowrap;
                                    line-height: 22px;
                                }

                                .btn-link-spoiler--edit::before {
                                    font-family: "Font Awesome 5 pro";
                                    font-weight: 900;
                                    content: "\f007";
                                    position: absolute;
                                    left: 100%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 1em;
                                    margin-left: .7em;
                                }

                                .btn-link-spoiler--confirm::before {
                                    font-family: "Font Awesome 5 pro";
                                    font-weight: 900;
                                    content: "\f00c";
                                    position: absolute;
                                    left: 100%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 1em;
                                    margin-left: .7em;
                                }

                                .btn-link-spoiler--cancel::before {
                                    font-family: "Font Awesome 5 pro";
                                    font-weight: 900;
                                    content: "\f00D";
                                    position: absolute;
                                    left: 100%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 1em;
                                    margin-left: .7em;
                                }

                                .btn-link-spoiler::after {
                                    left: 0;
                                    right: 0;
                                    top: 50%;
                                    margin-top: .85em;
                                    content: "";
                                    position: absolute;
                                    border-bottom: 1px dashed #1ca2bd;
                                }

                                .firstofrow {
                                    border-right: 0px;
                                }

                                .c-ui-input {
                                    position: relative;
                                    display: inline-block;
                                    width: 100%;
                                    line-height: 22px;
                                }

                                .c-ui-input__field, .dk-selectric-input {
                                    border-radius: 5px;
                                    background: #fff;
                                    border: 1px solid #eee;
                                    color: #717171;
                                    font-size: 12px;
                                    font-size: 1rem;
                                    line-height: 1.571;
                                    padding: 11px 12px;
                                    width: 100%;
                                    letter-spacing: -.8px;
                                }
                            </style>
                            <section class="o-page__content">
                                <div class="o-grid">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="back header-bot" style="display:none; text-align:right; direction: rtl;padding: 15px;background-color: #E1A52B;color: white;">

                                                <i class="toolbarText fal fa-long-arrow-right" style="color: white;font-size: 20px;vertical-align: middle;"></i>
                                                <span class="toolbarText" style=" margin-right: 15px;font-size:15px">@Resources.res.returnButt</span>
                                            </div>
                                            <div class="dataSection">
                                                <div class="o-headline o-headline--profile"><span>@Resources.res.personalData</span> </div><div class="c-profile-stats">

                                                    <div class="c-profile-stats__row">
                                                        <div class="c-profile-stats__col">
                                                            <label class="c-ui-input edit" style="display:none">
                                                                <input id="Editfullname" class="c-ui-input__field" type="text" value="@Model.userdata.fullname" placeholder="@Resources.res.inputYourName">
                                                            </label>
                                                            <p class="profile">
                                                                <span>@Resources.res.name @Resources.res.and @Resources.res.family :</span>
                                                                <span class="c-profile-stats__value">
                                                                    @{
                                                                        {
                                                                            if (Model.userdata.fullname == "" || Model.userdata.email == null)
                                                                            {
                                                                                <i id="emailholder">-</i>
                                                                            }
                                                                            else
                                                                            {
                                                                                @Model.userdata.fullname
                                                                            }
                                                                        }
                                                                    }
                                                                </span>




                                                            </p>
                                                        </div>
                                                        <div class="c-profile-stats__col firstofrow">
                                                            <label class="c-ui-input edit" style="display:none">
                                                                <input id="EditEmail" class="c-ui-input__field" type="text" value="@Model.userdata.email" placeholder="@Resources.res.inputRightEmail">
                                                            </label>
                                                            <p class="profile">
                                                                <span>@Resources.res.email :</span>
                                                                <span class="c-profile-stats__value">
                                                                    @{
                                                                        if (Model.userdata.email == "" || Model.userdata.email == null)
                                                                        {
                                                                            <i id="emailholder">-</i>
                                                                        }
                                                                        else
                                                                        {
                                                                            @Model.userdata.email
                                                                        }
                                                                    }
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="c-profile-stats__row">
                                                        <div class="c-profile-stats__col">
                                                            <label class="c-ui-input edit" style="display:none">
                                                                <input id="Editphone" class="c-ui-input__field" type="text" value="@Model.userdata.phone" placeholder="@Resources.res.inputYourMobile">
                                                            </label>
                                                            <p class="profile">
                                                                <span>@Resources.res.phone:</span>
                                                                @{
                                                                    if (Model.userdata.phone == null)
                                                                    {
                                                                        <i>-</i>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Model.userdata.phone
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                        <div class="c-profile-stats__col firstofrow">
                                                            <label class="c-ui-input edit" style="display:none">
                                                                <input id="EditAddress" class="c-ui-input__field" type="text" value="@Model.userdata.address" placeholder=" @Resources.res.inputYourAddress">
                                                            </label>
                                                            <p class="profile">
                                                                <span>@Resources.res.address:</span>
                                                                @{
                                                                    if (Model.userdata.address == null || Model.userdata.address == "")
                                                                    {
                                                                        <i id="addressholder">-</i>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Model.userdata.address
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="c-profile-stats__row">

                                                        <div class="c-profile-stats__col ">
                                                            <label class="c-ui-input edit" style="display:none">
                                                                <input id="EditCity" class="c-ui-input__field" type="text" value="@Model.userdata.city" placeholder=" @Resources.res.inputYourCity">
                                                            </label>
                                                            <p class="profile">
                                                                <span>@Resources.res.city:</span>
                                                                @{
                                                                    if (Model.userdata.city == null || Model.userdata.city == "")
                                                                    {
                                                                        <i id="addressholder">-</i>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Model.userdata.city
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                        <div class="c-profile-stats__col firstofrow">
                                                            <label class="c-ui-input edit" style="display:none">
                                                                <input id="EditProvice" class="c-ui-input__field" type="text" value="@Model.userdata.province" placeholder="@Resources.res.inputYourOstan">
                                                            </label>
                                                            <p class="profile">
                                                                <span>@Resources.res.ostan:</span>
                                                                @{
                                                                    if (Model.userdata.province == null)
                                                                    {
                                                                        <i>-</i>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Model.userdata.province
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                    @*<div class="c-profile-stats__row">
                                                            <div class="c-profile-stats__col">
                                                                <label class="c-ui-input edit" style="display:none">
                                                                    <input class="c-ui-input__field" type="text" name="additionalinfo[first_name]" value="@Model.userdata.email" placeholder=" ایمیل خود را وارد کنید">
                                                                </label>
                                                                <p class="profile">
                                                                    <span>ایمیل:</span>
                                                                   @Model.userdata.
                                                                </p>
                                                            </div>
                                                            <div class="c-profile-stats__col firstofrow">
                                                                <label class="c-ui-input edit" style="display:none">
                                                                    <input class="c-ui-input__field" type="text" name="additionalinfo[first_name]" value="" placeholder="نام خود را وارد کنید">
                                                                </label>
                                                                <p class="profile"><span>شماره کارت:</span><span class="c-profile-stats__value"></span></p>
                                                            </div>
                                                        </div>*@
                                                    <div class="c-profile-stats__row">
                                                        <div class="c-profile-stats__action profile">
                                                            <div id="editdata" class="btn-link-spoiler btn-link-spoiler--edit">
                                                                @Resources.res.editPersonalData
                                                            </div>
                                                            <script>
                                                                $("#editdata").click(function () {

                                                                    $(".edit").each(function () {
                                                                        $(this).css("display", "block")
                                                                        $(".c-profile-stats__row").css("min-height", "95px")
                                                                    })
                                                                    $(".profile").each(function () {
                                                                        $(this).css("display", "none")
                                                                    })
                                                                })
                                                            </script>
                                                        </div>
                                                        <div class="c-profile-stats__action_edit edit" style="display:none">
                                                            <div id="confirm" class="btn-link-spoiler btn-link-spoiler--confirm">
                                                                @Resources.res.OK
                                                            </div>
                                                            <script>
                                                                function isValidEmailAddress(emailAddress) {
                                                                    var pattern = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                                                                    return pattern.test(emailAddress);
                                                                };
                                                                $("#confirm").click(function () {
                                                                    var email = '@Model.userdata.email'; 
                                                                    var address = $("#EditAddress").val();
                                                                    var fullname = $("#Editfullname").val();
                                                                    var city = $("#EditCity").val();
                                                                    var province = $("#EditProvice").val();
                                                                    var mobile = $("#Editphone").val();


                                                                    if (mobile === "" && address === "" && fullname === "") {

                                                                        toastr.options = {
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-center",
                                                                            "onclick": null,
                                                                            "fadeIn": 300,
                                                                            "fadeOut": 1000,
                                                                            "timeOut": 8000,
                                                                            "extendedTimeOut": 1000,


                                                                        }
                                                                        toastr.error("@Resources.res.insetAllData")
                                                                    }

                                                                    else {
                                                                        if (isValidEmailAddress(email)) {
                                                                            $.ajax({
                                                                                url: '/Home/updataProfile',
                                                                                dataType: 'html',
                                                                                data: {
                                                                                    email: email,
                                                                                    address: address,
                                                                                    fullname: fullname,
                                                                                    phone: mobile,
                                                                                    province: province,
                                                                                    city: city
                                                                                },
                                                                                success: function (data) {
                                                                                    window.location.href = "/Home/myProfile?type=1";


                                                                                },
                                                                                error: function () {

                                                                                }
                                                                            });
                                                                        }
                                                                        else {
                                                                            toastr.options = {
                                                                                "debug": false,
                                                                                "positionClass": "toast-top-center",
                                                                                "onclick": null,
                                                                                "fadeIn": 300,
                                                                                "fadeOut": 1000,
                                                                                "timeOut": 5000,
                                                                                "extendedTimeOut": 1000,


                                                                            }
                                                                            toastr.error("@Resources.res.inputRightEmail")
                                                                        }
                                                                           
                                                                        //$(".edit").each(function () {
                                                                        //    $(this).css("display", "none")
                                                                        //    $(".c-profile-stats__row").css("min-height", "90px")
                                                                        //})
                                                                        //$(".profile").each(function () {
                                                                        //    $(this).css("display", "block")
                                                                        //})
                                                                    }


                                                                });
                                                            </script>
                                                        </div>
                                                        <div class="c-profile-stats__action_edit2 edit" style="display:none">
                                                            <div id="cancel" class="btn-link-spoiler btn-link-spoiler--cancel">
                                                                @Resources.res.cancel
                                                            </div>
                                                            <script>

                                                                $("#cancel").click(function () {

                                                                    $(".edit").each(function () {
                                                                        $(this).css("display", "none")
                                                                        $(".c-profile-stats__row").css("min-height", "90px")
                                                                    })
                                                                    $(".profile").each(function () {
                                                                        $(this).css("display", "block")
                                                                    })
                                                                })
                                                            </script>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                        <div class="row sectionItem" id="wishlistSection" style="display:none; margin:0">
                            <div class="back header-bot" style="display:none;text-align:right; direction: rtl;padding: 15px;background-color: #E1A52B;color: white;">

                                <i class="toolbarText fal fa-long-arrow-right" style="color: white;font-size: 20px;vertical-align: middle;"></i>
                                <span class="toolbarText" style=" margin-right: 15px;font-size:15px">@Resources.res.wishItem</span>
                            </div>
                            <div class="o-headline o-headline--profile"><span>@Resources.res.wishItem</span> </div>




                            @if (Model.wishList != null)
                            {
                                <ul class="c-profile-wishlist__listing">


                                    @foreach (var item in Model.wishList)
                                    {
                                        string imagefile = "placeholder.jpg";
                                        if (item.title != null)
                                        {
                                            imagefile = item.image;
                                        }
                                        string id = "wishon" + item.ID;
                                        string link = "/Home/ProductDetail?id=N" + item.ID;
                                        string src = "/images/panelimages/" + imagefile;
                                        <li class="c-profile-wishlist__list-item js-favorite-container ">
                                            <div class="imageHOlderofWish">
                                                <div class="c-profile-wishlist__list-item-thumb">
                                                    <a href="@link" class="c-profile-wishlist__list-item-img">
                                                        <img alt="@item.title" src="@src" style="max-width:150px">
                                                    </a><button id="@id" class="c-profile-wishlist__list-item-remove js-remove-favorite-btn" data-product-id="680108"></button>
                                                </div>
                                            </div>

                                            <div class="otherDataWish">
                                                <div class="c-profile-wishlist__list-item-content">
                                                    <div class="c-profile-wishlist__list-item-content-container" style="margin-top:4%">
                                                        <a href="@link">
                                                            <h5>@item.title</h5>
                                                        </a>

                                                    </div>
                                                    <div class="c-profile-wishlist__list-item-content-container" style="margin-bottom:4%">
                                                        <div class="c-profile-wishlist__list-item-price">
                                                            <span>@item.price</span>
                                                            <span>@Resources.res.toman</span>
                                                        </div>
                                                        <a href="@link" target="_blank" class="c-profile-wishlist__list-item-button">@Resources.res.viewProduct</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    }
                                </ul>
                                <script>

                                    $(".c-profile-wishlist__list-item-remove").click(function () {
                                        $(this).parents(".c-profile-wishlist__list-item").css("display", "none");
                                        var id = $(this).attr("id");

                                        $.ajax({
                                            url: '/Home/addToWishList',
                                            dataType: 'html',
                                            data: {
                                                ProductID: id,
                                                isWishList: "1"

                                            },
                                            success: function (data) {

                                            },
                                            error: function (request, status, error) {

                                            }
                                        });
                                    })
                                </script>
                            }
                            else
                            {
                                <div class="c-profile-empty" style="text-align: center;direction: rtl;font-size: 25px;margin-bottom: 25px;background: white;border: 1px solid #ddd;padding-bottom: 40px;">

                                   @Resources.res.noItemAlert
                                </div>
                            }


                        </div>
                        <div class="row sectionItem" id="transactionSection" style="display:none; margin:0">
                            <div class="back header-bot" style="display:none;text-align:right; direction: rtl;padding: 15px;background-color: #E1A52B;color: white;">

                                <i class="toolbarText fal fa-long-arrow-right" style="color: white;font-size: 20px;vertical-align: middle;"></i>
                                <span class="toolbarText" style=" margin-right: 15px;font-size:15px">  @Resources.res.wallet</span>
                            </div>
                            <div class="o-headline o-headline--profile"><span>@Resources.res.wallet</span>   </div>



                            <div class="emptyholder" style="padding:10px;">
                                <div style="    text-align: center;  direction: rtl; font-size: 20px;  margin-bottom: 25px;  background: white;  border: 1px solid #ddd; padding-bottom: 40px;  box-shadow: 2px 2px 5px -1px rgba(148,149,153,1);">
                                   <p style="padding:25px">@Resources.res.addToWalet</p>
                                    <div class="row " >
                                        <style>
                                            .liclass{
                                                display:inline-block;
                                                padding:10px 25px;
                                            }
                                        </style>
                                        <ul>
                                            <li class="liclass"><input id="20000" type="checkbox"> 20 @Resources.res.hezarToman</li>
                                            <li class="liclass"><input id="50000" type="checkbox"> 50 @Resources.res.hezarToman</li>
                                            <li class="liclass"><input id="100000" type="checkbox"> 100 @Resources.res.hezarToman</li>
                                            <li class="liclass"><input id="0" type="checkbox"> @Resources.res.wantedPrice</li>
                                        </ul>
                                    </div>
                                    <div id="delkhah"  style="display:none; margin:0;align-items:center">
                                        
                                        
                                        <div class="col-lg-4 col-md-12 col-sm-12" style="margin:auto; display:inline-block; padding:20px">
                                            <input id="insertAmount" class="form-control" />
                                        </div>
                                       
                                    </div>
                                    <div  class="row" style="margin:0; display:flex; align-items:center; margin-top:15px">
                                        <div class="col-lg-3 col-md-12 col-sm-12" style=" margin:auto;display:inline-block; ">
                                            <div class="btn btn-success" id="insertToWallet" style="padding:10px;width:100%">@Resources.res.OK</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $(".liclass input").click(function () {
                                  
                                    var amount = parseInt($(this).attr('id'));
                                    if (amount == "0") {
                                        $("#delkhah").css("display", "flex");
                                        $("#insertAmount").val("");
                                    }
                                    else {
                                        $("#delkhah").css("display", "none");
                                        $("#insertAmount").val(amount);
                                    }
                                    $(".liclass input").prop('checked', false);
                                    $(this).prop('checked', true);
                                   
                                    
                                    
                                })
                                $("#insertToWallet").click(function () {
                                    var price = $("#insertAmount").val();
                                    if (price != "") {
                                        $.ajax({
                                            url: '/Home/addToWallet',
                                            dataType: 'html',
                                            data: {
                                                price: price,

                                            },
                                            success: function (data) {


                                                url = "/Connection/ReqestForWallet?id=" + data;
                                                window.location.href = url;

                                                //var url = "/Home/myprofile?type=4";
                                                //window.location.href = url;
                                            }
                                        });
                                    }
                                    else {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000,


                                        }
                                        toastr.error('@Resources.res.insetPrice')
                                    }

                                })
                            </script>
                            @if (Model.mytransaction != null)
                            {

                                <div class="c-table-orders mustbehide" style="">
                                    <div class="c-table-orders__head c-table-orders__head--highlighted">
                                        <div class="row" style="margin:0;direction:rtl; padding:25px 0; background-color:#85b3be; color:white">
                                            <div class="col-lg-1" style="float:right">#</div>

                                            <div class="col-lg-2" style="float:right">@Resources.res.price</div>
                                            <div class="col-lg-2" style="float:right">@Resources.res.date </div>
                                            <div class="col-lg-2" style="float:right">@Resources.res.description</div>
                                            <div class="col-lg-2" style="float:right">@Resources.res.paymentStat</div>
                                            <div class="col-lg-2" style="float:right">@Resources.res.remove</div>
                                            <div class="col-lg-1" style="float:right">@Resources.res.pay</div>
                                        </div>
                                    </div>
                                    <div class="c-table-orders__body">
                                        @{

                                            foreach (var item in Model.mytransaction)
                                            {
                                                int index = Model.mytransaction.IndexOf(item) + 1;
                                                <div class="c-table-orders__row">
                                                    <div class="c-table-orders__cell c-table-orders__cell--hash">
                                                        @index
                                                    </div>

                                                    <div class="c-table-orders__cell c-table-orders__cell--price">
                                                        @item.price
                                                    </div>
                                                    <div class="c-table-orders__cell c-table-orders__cell--receive-at">
                                                        @item.date
                                                    </div>
                                                    <div class="c-table-orders__cell c-table-orders__cell--receive-at">
                                                        @item.description
                                                    </div>
                                                    @if (@item.status == "0")
                                                    {
                                                        <div class="c-table-orders__cell c-table-orders__cell--payment">@Resources.res.paymentWait</div>
                                                        <div class="c-table-orders__cell c-table-orders__cell--detail"><p class="deleteTransaction" id="@item.ID" style=" cursor:pointer">@Resources.res.remove</p></div>
                                                        <div class="c-table-orders__cell c-table-orders__cell--detail"><p class="payTransaction" id="@item.referenceID" style=" cursor:pointer">@Resources.res.pay</p></div>
                                                    }
                                                    else
                                                    {
                                                        if (item.transactionType == "0")
                                                        {
                                                            <div class="c-table-orders__cell c-table-orders__cell--payment">@Resources.res.bedehkari</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="c-table-orders__cell c-table-orders__cell--payment">@Resources.res.bestankari</div>
                                                        }


                                                        <div class="c-table-orders__cell c-table-orders__cell--detail"><i class="fas fa-check" style="font-size:42px;"></i></div>
                                                        <div class="c-table-orders__cell c-table-orders__cell--detail"><i class="fas fa-check" style="font-size:42px; "></i></div>
                                                    }

                                                </div>

                                            }
                                        }
                                        <script>
                                            $(".deleteTransaction").click(function () {
                                                var id = $(this).attr("id");

                                                $.ajax({
                                                    url: '/Home/deleteTransaction',
                                                    dataType: 'html',
                                                    data: {
                                                        id: id,

                                                    },
                                                    success: function (data) {
                                                        //alert("success");
                                                        var url = "/Home/myprofile?type=4";
                                                        window.location.href = url;
                                                    }
                                                });
                                            })
                                            $(".payTransaction").click(function () {
                                                var id = $(this).attr("id");
                                                url = "/Connection/ReqestForWallet?id=" + id;
                                                window.location.href = url;
                                            })
                                            $(".fa-chevron-left").click(function () {
                                                var data = $("#data").text();
                                                var id = $(this).attr("id");
                                                $.ajax({
                                                    url: '/Home/goGetOrderDetail',
                                                    dataType: 'html',
                                                    data: {
                                                        id: id,
                                                        data: data
                                                    },
                                                    success: function (data) {

                                                        if (window.innerWidth < 950) {
                                                            $('#detaildiv').html(data);
                                                            $(".back2").css("display", "block")
                                                            $("#productlistHoLDER").css("display", "none")
                                                            $("#orderDetailHoLDER").css("display", "block")
                                                            $("#orderDetailHoLDER").animate({
                                                                'margin-right': '0px'
                                                            }, function () {

                                                            });

                                                            $("body").css("overflow", "hidden");


                                                            // $("#FILTERholder").css("display", "none");
                                                        }
                                                        else {
                                                            $("#orderDetailHoLDER").css("display", "block")
                                                            $('#detaildiv').html(data);
                                                        }





                                                    }
                                                });
                                            })
                                        </script>


                                    </div>
                                </div>

                                <div class="mustbeshow">
                                    @{

                                        foreach (var item in Model.mytransaction)
                                        {
                                            int index = Model.mytransaction.IndexOf(item) + 1;
                                            // string data = item.address + "," + item.fullname + "," + item.phone + "," + item.Rdate + "," + item.day + "," + item.price;

                                    <div class="Itemholder" id="@item.ID">
                                        <div class="Item">
                                            <p class="itemtitle">@Resources.res.orderNumber</p>
                                            <p class="itemvalue">@item.ID</p>

                                        </div>
                                        <div class="Item">
                                            <p class="itemtitle">@Resources.res.orderDate</p>
                                            <p class="itemvalue">@item.date</p>
                                        </div>
                                        <div class="Item">
                                            <p class="itemtitle">@Resources.res.orderPrice</p>
                                            <p class="itemvalue" style="color:green">@Resources.res.toman @string.Format("{0:n0}", Convert.ToInt32(@item.price)) </p>
                                        </div>
                                        @if (@item.status == "0")
                                        {
                                            <div class="Item">
                                                <p class="itemtitle">@Resources.res.paymentStat</p>
                                                <p class="itemvalue" style="color:green">@Resources.res.paymentWait</p>
                                            </div>

                                            <div class="Item">
                                                <p class="itemtitle">@Resources.res.remove</p>
                                                <p class="itemvalue" style="color:green"><p class="deleteTransaction" id="@item.ID" style=" cursor:pointer">@Resources.res.remove</p></p>
                                            </div>

                                            <div class="Item">
                                                <p class="itemtitle">@Resources.res.pay</p>
                                                <p class="itemvalue" style="color:green"><p class="payTransaction" id="@item.referenceID" style=" cursor:pointer">@Resources.res.pay</p></p>
                                            </div>
                                         }
                                        else
                                        {
                                            if (item.transactionType == "0")
                                            {
                                            <div class="Item">
                                                <p class="itemtitle">@Resources.res.paymentStat</p>
                                                <p class="itemvalue" style="color:green">@Resources.res.bedehkari</p>
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="Item">
                                                <p class="itemtitle">@Resources.res.paymentStat</p>
                                                <p class="itemvalue" style="color:green">@Resources.res.bestankari</p>
                                            </div>
                                            }

                                            
                                        }


                                    </div>


                                        }


                                    }
                                </div>

                                <script>
                                    $(".Itemholder").click(function () {
                                        var data = $("#data").text();
                                        var id = $(this).attr("id");

                                        $.ajax({
                                            url: '/Home/goGetOrderDetail',
                                            dataType: 'html',
                                            data: {
                                                id: id,
                                                data: data
                                            },
                                            success: function (data) {

                                                if (window.innerWidth < 950) {
                                                    $('#detaildiv').html(data);
                                                    $(".back2").css("display", "block")
                                                    $("#productlistHoLDER").css("display", "none")
                                                    $("#orderDetailHoLDER").css("display", "block")
                                                    $("#orderDetailHoLDER").animate({
                                                        'margin-right': '0px'
                                                    }, function () {

                                                    });

                                                    $("body").css("overflow", "hidden");


                                                    // $("#FILTERholder").css("display", "none");
                                                }
                                                else {
                                                    $('#detaildiv').html(data);
                                                }




                                            }
                                        });
                                    })
                                </script>


                            }
                            else
                            {
                                <div class="emptyholder" style="padding:10px;">
                                    <div class="c-profile-empty" style="">
                                        @Resources.res.noItemAlert
                                    </div>
                                </div>

                            }


                        </div>

                        <div class="row sectionItem" id="orderlistSection" style="display:none; margin:0; padding:0px">
                            <div class="back header-bot" style="display:none;text-align:right; direction: rtl;padding: 15px;background-color: #E1A52B;color: white;">

                                <i class="toolbarText fal fa-long-arrow-right" style="color: white;font-size: 20px;vertical-align: middle;"></i>
                                <span class="toolbarText" style=" margin-right: 15px;font-size:15px">  @Resources.res.orders</span>
                            </div>
                            <div class="o-headline o-headline--profile"><span> @Resources.res.orders</span>   </div>




                            @if (Model.myOrder != null)
                            {

                                <div class="c-table-orders mustbehide">
                                    <div class="c-table-orders__head c-table-orders__head--highlighted"><div class="c-table-orders__row"><div class="c-table-orders__cell c-table-orders__cell--hash">#</div>
                                        <div class="c-table-orders__cell c-table-orders__cell--id">@Resources.res.orderNumber</div>
                                        <div class="c-table-orders__cell c-table-orders__cell--date">@Resources.res.orderDate</div>
                                        <div class="c-table-orders__cell c-table-orders__cell--receive-at">@Resources.res.deliveryDate</div>
                                        <div class="c-table-orders__cell c-table-orders__cell--price">@Resources.res.priceToPay </div>
                                        <div class="c-table-orders__cell c-table-orders__cell--price">@Resources.res.totalSum</div>
                                        <div class="c-table-orders__cell c-table-orders__cell--payment">@Resources.res.paymentStat</div>
                                        <div class="c-table-orders__cell c-table-orders__cell--detail"> @Resources.res.details</div>
                                          </div></div><div class="c-table-orders__body">
                                        @{

                                            foreach (var item in Model.myOrder)
                                            {
                                                int index = Model.myOrder.IndexOf(item) + 1;
                                                string data = item.address + "," + item.fullname + "," + item.phone + "," + item.Rdate + "," + item.day + "," + item.price;

                                                <div class="c-table-orders__row">
                                                    <div class="c-table-orders__cell c-table-orders__cell--hash">
                                                        @index
                                                    </div><div class="c-table-orders__cell c-table-orders__cell--id">@item.orderNumber</div><div class="c-table-orders__cell c-table-orders__cell--date">@item.date</div><div class="c-table-orders__cell c-table-orders__cell--receive-at">
                                                        @item.date
                                                    </div>
                                                    <div class="c-table-orders__cell c-table-orders__cell--price">
                                                        <div>0</div>
                                                    </div>
                                                    <div class="c-table-orders__cell c-table-orders__cell--price">
                                                        @item.price
                                                    </div>


                                                    <div class="c-table-orders__cell c-table-orders__cell--payment">@item.statusTitle</div>

                                                    <div class="c-table-orders__cell c-table-orders__cell--detail"><i id="@item.ID" class="fas fa-chevron-left" style="font-size:42px; cursor:pointer"></i></div>
                                                </div>
                                                <div id="data" style="display:none">@data</div>
                                            }
                                        }
                                        <script>
                                            $(".fa-chevron-left").click(function () {
                                                var data = $("#data").text();
                                                var id = $(this).attr("id");
                                                $.ajax({
                                                    url: '/Home/goGetOrderDetail',
                                                    dataType: 'html',
                                                    data: {
                                                        id: id,
                                                        data: data
                                                    },
                                                    success: function (data) {

                                                        if (window.innerWidth < 950) {
                                                            $('#detaildiv').html(data);
                                                            $(".back2").css("display", "block")
                                                            $("#productlistHoLDER").css("display", "none")
                                                            $("#orderDetailHoLDER").css("display", "block")
                                                            $("#orderDetailHoLDER").animate({
                                                                'margin-right': '0px'
                                                            }, function () {

                                                            });

                                                            $("body").css("overflow", "hidden");


                                                            // $("#FILTERholder").css("display", "none");
                                                        }
                                                        else {
                                                            $("#orderDetailHoLDER").css("display", "block")
                                                            $('#detaildiv').html(data);
                                                            $([document.documentElement, document.body]).animate({
                                                                scrollTop: $("#detaildiv").offset().top
                                                            }, 800);
                                                        }





                                                    }
                                                });
                                            })
                                        </script>


                                    </div>
                                </div>

                                <div class="mustbeshow">
                                    @{

                                        foreach (var item in Model.myOrder)
                                        {
                                            int index = Model.myOrder.IndexOf(item) + 1;
                                            string data = item.address + "," + item.fullname + "," + item.phone + "," + item.Rdate + "," + item.day + "," + item.price;

                                            <div class="Itemholder" id="@item.ID">
                                                <div class="Item">
                                                    <p class="itemtitle">@Resources.res.orderNumber</p>
                                                    <p class="itemvalue">@item.orderNumber</p>

                                                </div>
                                                <div class="Item">
                                                    <p class="itemtitle">@Resources.res.orderDate</p>
                                                    <p class="itemvalue">@item.date</p>
                                                </div>
                                                <div class="Item">
                                                    <p class="itemtitle">@Resources.res.orderPrice</p>
                                                    <p class="itemvalue" style="color:green">@Resources.res.toman @string.Format("{0:n0}", Convert.ToInt32(@item.price)) </p>
                                                </div>

                                                <div class="Item">
                                                    <p class="itemtitle">@Resources.res.paymentStat</p>
                                                    <p class="itemvalue">@item.statusTitle</p>
                                                </div>
                                                <div class="Item">
                                                    <p class="itemtitle">@Resources.res.details</p>
                                                    <p class="itemvalue">  <i id="@item.ID" class="fas fa-chevron-left" style="font-size:24px; cursor:pointer"></i></p>
                                                </div>

                                            </div>
                                            <div id="data" style="display:none">@data</div>

                                        }


                                    }

                                </div>
                                
                                

                                <script>
                                    $(".fa-chevron-left").click(function () {
                                        var data = $("#data").text();
                                       
                                        var id = $(this).attr("id");
                                      
                                        $.ajax({
                                            url: '/Home/goGetOrderDetail',
                                            dataType: 'html',
                                            data: {
                                                id: id,
                                                data: data
                                            },
                                            success: function (data) {
                                              
                                                if (window.innerWidth < 950) {
                                                    $('#detaildiv').html(data);
                                                   
                                                    $(".back2").css("display", "block")
                                                    $("#productlistHoLDER").css("display", "none")
                                                    $("#orderDetailHoLDER").css("display", "block")
                                                    $("#orderDetailHoLDER").animate({
                                                        'margin-right': '0px'
                                                    }, function () {

                                                    });

                                                    $("body").css("overflow", "hidden");


                                                    // $("#FILTERholder").css("display", "none");
                                                }
                                                else {
                                                    $("#orderDetailHoLDER").css("display", "block")
                                                    $('#detaildiv').html(data);
                                                    $([document.documentElement, document.body]).animate({
                                                        scrollTop: $("#detaildiv").offset().top
                                                    }, 800);
                                                }





                                            }
                                        });
                                    })
                                </script>
                            }
                            else
                            {
                                <div class="emptyholder" style="padding:10px;">
                                    <div class="c-profile-empty" style="">
                                       @Resources.res.noItemAlert
                                    </div>
                                </div>

                            }


                        </div>

                    </div>
                    <div id="orderDetailHoLDER" style="display:none; ">
                        <div id="detailparent">
                            <div class="back2 header-bot" style="display:none;text-align:right; direction: rtl;padding: 15px;background-color: #E1A52B;color: white;">

                                <i class="toolbarText fal fa-long-arrow-right" style="color: white;font-size: 20px;vertical-align: middle;"></i>
                                <span class="toolbarText" style=" margin-right: 15px;font-size:15px">  @Resources.res.orderDetailList</span>
                            </div>
                            <div class="o-headline o-headline--profile"><span> @Resources.res.detailList</span>   </div>

                            <script>
                                $(".back2").click(function () {


                                    $("#orderDetailHoLDER").animate({
                                        'margin-right': number
                                    }, function () {
                                        $('#productlistHoLDER').css("display", "block");
                                        $("#orderDetailHoLDER").css("display", "none")
                                    });
                                })
                            </script>

                            <div id="detaildiv">

                            </div>
                        </div>
                       
                    </div>

                </div>
                @if (Request.Browser.IsMobileDevice)
                {
                    <script>

                        var width = screen.width;
                        var number = "-" + width + "px";
                        $("#SECTIONOFIBdiv").css("margin-right", number);
                        $("#SECTIONOFIBdiv").addClass("appPanel");
                    </script>
                }

            </div>

        </div>
        <div id="FILTERholder" class="col-lg-3 col-md-12 col-sm-12" style="padding:0px 10px 0px 0px; width:20%">

            <style>
                .c-profile-box {
                    margin-bottom: 21px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.1);
                    box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.1);
                    border: 1px solid #dedede;
                }

                .c-profile-box__header {
                    position: relative;
                    background-color: #00bfd6;
                    height: 47px;
                }

                .c-profile-box__avatar {
                    width: 54px;
                    height: 54px;
                    background: #fff;
                    background-size: contain;
                    -webkit-box-shadow: 0 0 0 4px hsla(0,0%,100%,.61);
                    box-shadow: 0 0 0 4px hsla(0,0%,100%,.61);
                    position: absolute;
                    left: 50%;
                    top: 12px;
                    -webkit-transform: translate(-50%);
                    transform: translate(-50%);
                    border-radius: 50%;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: 50%;
                }

                .c-profile-box__btn-edit {
                    width: 18px !important;
                    height: 18px !important;
                    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
                    border: 1px solid #e3e3e3;
                    border-radius: 50%;
                    position: absolute;
                    top: 50px;
                    left: 42%;
                    margin-left: -52px;
                    background: #fff;
                }

                    .c-profile-box__btn-edit:before {
                        font-family: "Font Awesome 5 pro";
                        font-weight: 900;
                        content: "\f304";
                        font-size: 9px;
                        color: #909090;
                        position: absolute;
                        left: 3px;
                        top: 3px;
                    }

                .c-profile-box__username {
                    padding: 23px 20px 19px;
                    text-align: center;
                    font-size: 19px;
                    font-size: 1.357rem;
                    line-height: 1.158;
                    font-weight: 500;
                    letter-spacing: -.5px;
                }

                .c-profile-box__tabs {
                    border-top: 1px solid #f1f1f1;
                    background-color: #fcfcfc;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    min-height: 47px;
                    text-align: center;
                }

                .c-profile-box__tab:first-child {
                }

                .c-profile-box__tab {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding: 10px 10px 0;
                    font-weight: 500;
                    letter-spacing: -.3px;
                    font-size: 12px;
                    font-size: .857rem;
                    line-height: 1.6;
                    color: #7b7b7b;
                    position: relative;
                    padding-bottom: 10px;
                    cursor: pointer;
                }

                    .c-profile-box__tab:hover {
                        color: #7b7b7b;
                    }
            </style>
            <div class="c-profile-box">

                <div class="c-profile-box__header">
                    <div class="c-profile-box__avatar js-user-avatar" style="background-image: url(https://www.digikala.com/static/files/fd4840b2.svg)">

                    </div>
                    <div style="width:5%; margin:0px; padding:0px" class="c-profile-box__btn-edit "></div>
                </div>
                <div class="c-profile-box__username"></div>
                @{
                    int total = 0;
                    if (Model.mytransaction != null)
                    {
                        total = Model.mytransaction.Where(x => x.status == "1" && x.transactionType == "1" ).Sum(x => x.price) - Model.mytransaction.Where(x => x.status == "1" && x.transactionType == "0").Sum(x => x.price);
                    }

                    <p style="text-align:center; padding-bottom:25px">@Resources.res.balance :   <span>@total</span> &nbsp; @Resources.res.toman</p>
                }
                <div class="c-profile-box__tabs">


                    <a href="/Home/forgetpass" class="c-profile-box__tab" style="border-right: 1px solid #ebebeb;"><i class="fa fa-lock" style="width:100%"></i><p>@Resources.res.changePass</p></a>
                    <a href="/CustomerLogin/LogOff" class="c-profile-box__tab ">
                        <i class="fa fa-sign-out-alt" style="width:100%"></i><p>@Resources.res.exitAccount </p>

                    </a>
                </div>
            </div>
            <div class="profilemenuhead">
                <div style="display:inline-block; margin-right:25px;padding:20px 0"> @Resources.res.yourAccount</div> </i>

            </div>
            <div class="profilemenu" id="profile">
                <div style="display:inline-block; margin-right:15px">@Resources.res.profile</div>
                <i class="fal fa-user" style="display:inline-block"></i>
                <script>
                    $("#profile").click(function () {
                        $("#orderDetailHoLDER").css("display", "none")
                        if (window.innerWidth < 950) {
                            $("#SECTIONOFIBdiv").css("display", "block");
                            $("#productlistHoLDER").children().hide();
                            $("#userdataSectino").css("display", "block");
                            $("#SECTIONOFIBdiv").animate({
                                'margin-right': '0px'
                            }, function () {
                                $(".black").css("display", "block");

                            });
                            // $("#FILTERholder").css("display", "none");
                        }
                        else {

                            $("#productlistHoLDER").children().hide();
                            $("#userdataSectino").css("display", "block");
                        }

                    })
                </script>
            </div>
            <div class="profilemenu" id="wishlist">
                <div style="display:inline-block; margin-right:15px">@Resources.res.wishItem</div>
                <i class="fal fa-star" style="display:inline-block"></i>
                <script>
                    $("#wishlist").click(function () {
                        $("#orderDetailHoLDER").css("display", "none")
                        if ('@Session["token"]' === "") {
                            var url = '@Url.Action("login", "home")';
                            window.location.href = url;
                        }
                        else {
                            if (window.innerWidth <950) {
                                $("#SECTIONOFIBdiv").css("display", "block");
                                $("#productlistHoLDER").children().hide();
                                $("#wishlistSection").css("display", "block");
                                $("#SECTIONOFIBdiv").animate({
                                    'margin-right': '0px'
                                }, function () {


                                    $(".black").css("display", "block");

                                });
                                // $("#FILTERholder").css("display", "none");
                            }
                            else {

                                $("#productlistHoLDER").children().hide();
                                $("#wishlistSection").css("display", "block");
                            }

                        }

                    })
                </script>

            </div>
            <div class="profilemenu" id="transaction">
                <div style="display:inline-block; margin-right:15px"> @Resources.res.wallet</div>
                <i class="fal fa-wallet" style="display:inline-block"></i>
                <script>
                    $("#transaction").click(function () {
                        $("#orderDetailHoLDER").css("display", "none")
                        if ('@Session["token"]' === "") {
                            var url = '@Url.Action("login", "home")';
                            window.location.href = url;
                        }
                        else {
                            if (window.innerWidth <950) {
                                $("#SECTIONOFIBdiv").css("display", "block");
                                $("#productlistHoLDER").children().hide();
                                $("#transactionSection").css("display", "block");
                                $("#SECTIONOFIBdiv").animate({
                                    'margin-right': '0px'
                                }, function () {
                                    $(".black").css("display", "block");
                                });

                            }
                            else {

                                $("#productlistHoLDER").children().hide();
                                $("#transactionSection").css("display", "block");
                            }

                        }

                    })
                </script>
            </div>
            <div class="profilemenu" id="orderlist">
                <div style="display:inline-block; margin-right:15px"> @Resources.res.myOrders</div>
                <i class="fal fa-shopping-basket" style="display:inline-block"></i>
                <script>
                    $("#orderlist").click(function () {
                        $("#orderDetailHoLDER").css("display", "none")
                        if ('@Session["token"]' === "") {
                            var url = '@Url.Action("login", "home")';
                            window.location.href = url;
                        }
                        else {
                            if (window.innerWidth <950) {
                                $("#SECTIONOFIBdiv").css("display", "block");
                                $("#productlistHoLDER").children().hide();
                                $("#orderlistSection").css("display", "block");
                                $("#SECTIONOFIBdiv").animate({
                                    'margin-right': '0px'
                                }, function () {
                                    $(".black").css("display", "block");
                                });
                                // $("#FILTERholder").css("display", "none");
                            }
                            else {

                                $("#productlistHoLDER").children().hide();
                                $("#orderlistSection").css("display", "block");
                            }

                        }

                    })
                </script>

            </div>
            <div class="profilemenu" id="ticket">
                <div style="display:inline-block; margin-right:15px"> @Resources.res.support</div>
                <i class="fal fa-info-circle" style="display:inline-block"></i>


            </div>
            <script>
                    $("#ticket").click(function () {
                        $("#orderDetailHoLDER").css("display", "none")
                        if ('@Session["token"]' === "") {
                            var url = '@Url.Action("login", "home")';
                            window.location.href = url;
                        }
                        else {

                           window.location.href = "/ticket/index"
                        }

                    })
            </script>



        </div>




        <script src="~/Scripts/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });

        </script>
        <script>
            $(".back").click(function () {
                $("#SECTIONOFIBdiv").animate({
                    'margin-right': number
                }, function () {
                    //$('#productlistHoLDER').html("");
                    $("#SECTIONOFIBdiv").css("display", "none");

                });

                //$("#FILTERholder").css("display", "block");
            })
        </script>













    </div>
</div>

<script>
    $("#loaderHolder").css("display", "none");
     if (@ViewBag.type == "3") {

        $("#productlistHoLDER").children().hide();
        $("#orderlistSection").css("display", "block");
    }
    else if (@ViewBag.type == "2") {
        $("#productlistHoLDER").children().hide();
        $("#wishlistSection").css("display", "block");
     }
          else if (@ViewBag.type == "4") {
        $("#productlistHoLDER").children().hide();
         $("#transactionSection").css("display", "block");
    }
    else {
        $("#productlistHoLDER").children().hide();
        $("#userdataSectino").css("display", "block");
    }
</script>

<!-- //Electronics -->
<!-- //product-nav -->
@*<script>
        $(document).ready(function () {




            $('.gotodetail').click(function () {

                var ID = this.id;
                var url = "/Home/ProductDetail?id=" + ID;
                window.location.href = url;
            })
            $('.addtocart').click(function () {

                var pricetotal = document.getElementById("spanfortotal").textContent;
                var tobeadded = $('.item_price', $(this).parent('div:first')).text();
                var counttotal = document.getElementById("simpleCart_quantityy").textContent;
                var final = parseInt(pricetotal, 10) + parseInt(tobeadded, 10);
                var finalcount = parseInt(counttotal, 10) + 1;
                $('#spanfortotal').text(final);
                $('#simpleCart_quantityy').text(finalcount)
                alert(tobeadded);

                var ID = this.id;


                $.ajax({
                    url: '/Home/addtocart',
                    dataType: 'html',
                    data: {
                        id: ID,
                        price: tobeadded

                    },
                    success: function (data) {


                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000,


                        }
                        toastr.success('محصول مورد نظر به سبد اضافه شد')

                    },
                    error: function () {

                    }
                });


            })

        })

    </script>*@



