@model banimo.ViewModel.subMenuVM
@{
    ViewBag.Title = "submenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <link href="~/Content/indexStyle.css" rel="stylesheet" />

    <style>


        .imageholderindex img {
            object-fit: scale-down;
            width: 100%;
            height: 100%;
        }
    </style>
}
<div class="slidesectionParent" style="width:100%">
    <div class="slidesection" style="width:60%; margin: 10px auto;">
        @if (Model.slides != null)
        {
            <div class=" indexbanner indexbannerMiddleR">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        @foreach (var item in Model.slides)
                        {
                            string src = "/images/panelimages/" + item.image;
                            var index = Model.slides.IndexOf(item);
                            if (index == 0)
                            {
                                <li data - target="#myCarousel" data-slide-to="@index" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#myCarousel" data-slide-to="@index"></li>
                            }

                        }


                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @foreach (var item in Model.slides)
                        {
                            string src = "/images/panelimages/" + item.image;
                            if (Model.slides.IndexOf(item) == 0)
                            {
                                <div class="item active">
                                    <img style="cursor:pointer" src="@src" alt="@item.title" class="mySlide" id='@item.type-@item.catIDOrLink'>
                                </div>
                            }
                            else
                            {
                                <div class="item ">
                                    <img style="cursor:pointer" src="@src" alt="@item.title" class="mySlide" id='@item.type-@item.catIDOrLink'>
                                </div>
                            }

                        }

                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>


                    <!-- Left and right controls -->

                </div>
            </div>


        }
    </div>

</div>

<style>
    .SECTIONHOLDER0 {
        width: 98%;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px -1px rgb(148 149 153);
        margin-bottom: 20px
    }

        .SECTIONHOLDER0 .item {
            text-align: center;
            padding: 15px;
        }

        .SECTIONHOLDER0 .itemHolder {
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 5px
        }

            .SECTIONHOLDER0 .itemHolder:hover {
                box-shadow: 2px 2px 5px -1px rgb(148 149 153);
            }

        .SECTIONHOLDER0 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .SECTIONHOLDER0 p {
            text-align: center;
            padding: 10px;
            font-size: 16px;
            font-weight: 600
        }
</style>
@{

    if (Model.mycat != null)
    {

        <div id="" class="row SECTIONHOLDER0">


            @foreach (var newitem in Model.mycat)
            {
                string url = "/Home/productList?catmode=" + newitem.ID + "&value=" + newitem.title;
                if (newitem.isFinal == 0)
                {
                    url = "/Home/submenu?catmode=" + newitem.ID + "&value=" + newitem.title; ;
                }

                string imagaddress = newitem.image == null ? "/images/placeholder.jpg" : "/images/" + newitem.image;

                <div class="col-lg-3 item">
                    <a href="@url">
                        <div class="itemHolder" style="width:100%;">
                            <div style="margin:auto;  width:100%">
                                <img src="@imagaddress" style="" />
                            </div>
                            <p style="" href="" target="_blank" class="">@newitem.title</p>

                        </div>
                    </a>


                </div>



            }


        </div>
    }
}




@if (Model.gourpList != null)
{
    foreach (var group in Model.gourpList)
    {
        string id = group.type + "-" + group.catIDOrLink;

        if (group.value != null)
        {
            <div class="maxwidth">
                <div style="background-color: #f6f5f5; padding: 2% 0px">
                    <div class="SECTIONHOLDER">

                        <div class="o-headline"><span>@Html.ActionLink(@group.title, "ManageSlide", new { val = @id }, new { style = " color: #808080;" }) </span></div>



                        <div id="bestholder" class="resCarousel" data-items="3-5-5-5" data-slide="1" data-speed="500">


                            <div class="resCarousel-inner">

                                @foreach (var item in group.value)
                                {
                                    string addID = "addtocarto" + item.ID;
                                    string minusID = "minus" + item.ID;
                                    string imagefile = "placeholder.jpg";
                                    if (item.title != null)
                                    {
                                        imagefile = item.image;
                                    }
                                    string ID = "N" + item.ID.ToString();
                                    string addtocartid = "addtocart" + ID;
                                    string price = item.price;

                                    string src = imagefile;

                                    <div class="item showmedetail" id=@ID style="cursor:pointer">



                                        <div class="showmedetailFirstDiv showmedetailx">
                                            <div style="padding:15px">
                                                <div class="imageholderindex">
                                                    <img class="imageitself" src="@src" />
                                                </div>
                                                <div class="titleholder">
                                                    @{
                                                        if (@System.Configuration.ConfigurationManager.AppSettings["numberType"] == "1")
                                                        {
                                                            <h5 class="numEn"> @item.title</h5>
                                                        }
                                                        else
                                                        {
                                                            <h5>@item.title</h5>
                                                        }

                                                    }

                                                </div>
                                                @if (@System.Configuration.ConfigurationManager.AppSettings["bigDetail"] == "1")
                                                {
                                                    string valueID = "value" + item.ID;
                                                    <div class="addholder" style="margin:5px">
                                                        <i id="@minusID" class="fa fa-minus-circle value-minus" style=" border: none;  font-size: 22px; color: #36CDDF;height:20px "></i>

                                                        <div class="entry value @valueID " style=";height:20px;margin:0; border:0px; padding:0; width:10px"><span>0</span></div>
                                                        <i id="@addID" class="fa fa-plus-circle value-plus" style="border: none;  font-size: 22px; color: #36CDDF;height:20px "></i>

                                                    </div>

                                                }
                                                <div style="margin-top:10px">

                                                    @{
                                                        if (item.isAvailable == "0")
                                                        {
                                                            <div class="c-product-box__row c-product-box__row--price"><div class="c-price"><div class="c-price__value c-price__value--plp"></div></div><div class="c-promotion-box__cover c-promotion-box__cover--out-of-stock"><div class="c-promotion-box__cover-text js-product-status">@Resources.res.unAvailable</div></div></div>
                                                        }
                                                        else
                                                        {
                                                            if (item.price == "0")
                                                            {
                                                                <div class="row" style="margin:0px 15px">
                                                                    <p style="display:inline-block"> @Resources.res.makeCall</p>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div style="display:flex; align-items:center; margin-top:40px">
                                                                    <div style="width:20%;margin-right:5px">
                                                                        <span style="color: white;font-size:18px;font-weight:600;background-color: red;border-radius: 15px;padding: 5px 10px;">
                                                                            @item.discount%

                                                                        </span>
                                                                    </div>

                                                                    <div style="flex:1">
                                                                        <div>
                                                                            <div class="" style="margin:0px 15px; min-height:20px;text-align:left">

                                                                                <div class="">
                                                                                    <div class="">
                                                                                        @if (item.price != item.oldPrice)
                                                                                        {
                                                                                            <p style="display: inline-block; "> @Resources.res.toman </p> <del style="font-size:15px"> @string.Format("{0:n0}", Convert.ToInt32(@item.oldPrice)) </del>

                                                                                        }
                                                                                    </div>

                                                                                </div>
                                                                            </div>

                                                                            <div class="row" style="margin:0px 15px; text-align:left">

                                                                                <p style="display: inline-block; color: black"> @Resources.res.toman </p> <p style="color:black; display:inline-block;font-size:20px; font-weight:600">@string.Format("{0:n0}", Convert.ToInt32(@item.price))</p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }

                                                    }





                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                }







                            </div>
                            <button class='btn btn-default leftRs'><</button>
                            <button class='btn btn-default rightRs'>></button>

                        </div>
                    </div>

                </div>
            </div>
        }

    }
}


<script>
    //ResCarouselCustom();
    var pageRefresh = true;

    function ResCarouselCustom() {
        var items = $("#dItems").val(),
            slide = $("#dSlide").val(),
            speed = $("#dSpeed").val(),
            interval = $("#dInterval").val()

        var itemsD = "data-items=\"" + items + "\"",
            slideD = "data-slide=\"" + slide + "\"",
            speedD = "data-speed=\"" + speed + "\"",
            intervalD = "data-interval=\"" + interval + "\"";


        var atts = "";
        atts += items != "" ? itemsD + " " : "";
        atts += slide != "" ? slideD + " " : "";
        atts += speed != "" ? speedD + " " : "";
        atts += interval != "" ? intervalD + " " : ""

        //console.log(atts);

        var dat = "";
        dat += '<h4>' + atts + '</h4>'
        dat += '<div class=\"resCarousel\" ' + atts + '>'
        dat += '<div class="resCarousel-inner">'
        for (var i = 1; i <= 14; i++) {
            dat += '<div class=\"item\"><div><h1>' + i + '</h1></div></div>'
        }
        dat += '</div>'
        dat += '<button class=\'btn btn-default leftRs\'><i class=\"fa fa-fw fa-angle-left\"></i></button>'
        dat += '<button class=\'btn btn-default rightRs\'><i class=\"fa fa-fw fa-angle-right\"></i></button>    </div>'
        console.log(dat);
        $("#customRes").html(null).append(dat);

        if (!pageRefresh) {
            ResCarouselSize();
        } else {
            pageRefresh = false;
        }
        //ResCarouselSlide();
    }

    $("#eventLoad").on('ResCarouselLoad', function () {
        //console.log("triggered");
        var dat = "";

        var lenghtI = $(this).find(".item").length;
        if (lenghtI <= 30) {
            for (var i = lenghtI; i <= lenghtI + 10; i++) {
                dat += '<div class="item"><div class="tile"><div><h1>' + (i + 1) + '</h1></div><h3>Title</h3><p>content</p></div></div>'
            }
            $(this).append(dat);
        }
    });
</script>
<script>
    $(document).ready(function () {

    })
</script>
<script src="~/Scripts/resCarousel.js"></script>