@model banimo.ViewModel.addressVM


<link href="~/Extra/leaflet/leaflet.css" rel="stylesheet" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyDnIMRNDW6W-9c74yyiO_Sp3oeya0hoLwQ"></script>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
</script>
<script type="text/javascript">
                var myMap;
                var theMarker = {};
                var greenIcon;
            getLocation();
            function showLocation(position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;

                myMap = L.map('Map', { attributionControl: false }).setView([35.75453394917301, 51.37116999302821], 13);

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoibWVyaW9saSIsImEiOiJja2p6dXhmdngwYmVvMnZwY2lyc2htNGxhIn0.Y9t__Bll6Fw9b9amb_rcHg',

                }).addTo(myMap);
                myMap.panTo(new L.LatLng(lat, lon));





                myMap.on('click', function (e) {

                    $("#checkmap").show();
                    lat = e.latlng.lat;
                    lon = e.latlng.lng;

                    console.log("You clicked the map at LAT: " + lat + " and LONG: " + lon);
                    //Clear existing marker,

                    if (theMarker != undefined) {
                        myMap.removeLayer(theMarker);
                    };

                    //Add a marker to show where you clicked.
                    theMarker = L.marker([lat, lon]).addTo(myMap);
                    $("#lat").val(lat);
                    $("#lon").val(lon);
                });
                theMarker = L.marker([lat, lon]).addTo(myMap);
                $("#lat").val(lat);
                $("#lon").val(lon);






            }
            function errorHandler(err) {
                if (err.code == 1) {
                    //alert("Error: Access is denied!");
                } else if (err.code == 2) {
                    //alert("Error: Position is unavailable!");
                }


                myMap = L.map('Map', { attributionControl: false }).setView([35.75453394917301, 51.37116999302821], 13);
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoibWVyaW9saSIsImEiOiJja2p6dXhmdngwYmVvMnZwY2lyc2htNGxhIn0.Y9t__Bll6Fw9b9amb_rcHg',

                }).addTo(myMap);

                myMap.panTo(new L.LatLng(35.73598454240641, 51.48437862217327));




                myMap.on('click', function (e) {
                    $("#checkmap").show();
                    lat = e.latlng.lat;
                    lon = e.latlng.lng;

                    console.log("You clicked the map at LAT: " + lat + " and LONG: " + lon);
                    //Clear existing marker,

                    if (theMarker != undefined) {
                        myMap.removeLayer(theMarker);
                    };

                    //Add a marker to show where you clicked.
                    theMarker = L.marker([lat, lon]).addTo(myMap);

                    $("#lat").val(lat);
                    $("#lon").val(lon);
                });


            }
            function getLocation() {
                if (navigator.geolocation) {
                    // timeout at 60000 milliseconds (60 seconds)
                    var options = { timeout: 60000 };
                    navigator.geolocation.getCurrentPosition
                        (showLocation, errorHandler, options);
                } else {
                    alert("Sorry, browser does not support geolocation!");
                }
        };

        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('mapaddress'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();


                if (theMarker != undefined) {
                    myMap.removeLayer(theMarker);
                };
                myMap.panTo(new L.LatLng(place.geometry.location.lat(), place.geometry.location.lng()));
                theMarker = L.marker([place.geometry.location.lat(), place.geometry.location.lng()]).addTo(mymap);
                $("#lat").val(place.geometry.location.lat());
                $("#lng").val(place.geometry.location.lng());
            });
        });
      

</script>
<style>
    .form__group {
        position: relative;
        padding: 15px 0 0;
        margin-top: 20px;
        width: 80%;
        direction: rtl
    }

    .form__field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid #9b9b9b;
        outline: 0;
        font-size: 1.3rem;
        color: #fff;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
    }

        .form__field::placeholder {
            color: transparent;
        }

        .form__field:placeholder-shown ~ .form__label {
            font-size: 1rem;
            cursor: text;
            top: 20px;
        }

    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #9b9b9b;
    }

    .form__field:focus {
        padding-bottom: 6px;
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, #11998e, #38ef7d);
        border-image-slice: 1;
    }

        .form__field:focus ~ .form__label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1rem;
            color: #11998e;
            font-weight: 700;
        }

    /* reset input */
    .form__field:required, .form__field:invalid {
        box-shadow: none;
    }

    /* demo */
    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
        font-size: 1.5rem;
        background-color: #222222;
    }
</style>

<div style="display:flex">
    <div style="width:50%">
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="@Resources.res.title" name="modalTitle" id='modalTitle' required />
            <label for="name" class="form__label">@Resources.res.title</label>
        </div>
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="@Resources.res.ostan" name="modalState" id='modalState' required />
            <label for="name" class="form__label">@Resources.res.ostan</label>
        </div>
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="@Resources.res.city" name="modalCity" id='modalCity' required />
            <label for="name" class="form__label">@Resources.res.city</label>
        </div>
        <div class="form__group field">
            <input type="text" class="form__field" placeholder="@Resources.res.address" name="modalAddress" id='modalAddress' required />
            <label for="name" class="form__label">@Resources.res.address</label>
        </div>

        <div class="form__group field">
            <input type="text" class="form__field" placeholder="@Resources.res.postalCode" name="modalpostalCode" id='modalpostalCode' required />
            <label for="name" class="form__label">@Resources.res.postalCode</label>
        </div>
        @*<div class="row">
                <div style="height:40px"></div>
                <div id="mapshow" style="text-align:center;display:flex;align-items: center;justify-content: center;">


                    <i id="checkmap" class="fal fa-check" style="display:none; font-size: 35px;color: green;margin: 0 20px;"></i><p style="cursor:pointer;color: white;background-color: #4f9d94;border-radius: 5px;padding: 5px 10px;font-size:14px">انتخاب موقعیت</p>

                </div>
            </div>*@
    </div>
    <div style="width:50%">
        <div style=" width:20%;z-index: 9999999999999;height:40px">
            <input type="text" id="mapaddress" style="width:100%; height:100% " class="form-control" />
        </div>
        <div id="mapHolder" style="display:none; z-index:9999999999; position:relative;top:0; left:0; margin:auto; width:100%; height:400px;  background-color:white; text-align:center; background-color:white;  /* Negative half of width. */">

            <div id="Map" style="margin-top:10%; width: 80%; margin:auto; height: 400px; background: #eee; border: 2px solid #aaa;"></div>
            <p id="maphide" style="position:fixed; cursor:pointer;   z-index: 9999999;left:50%;bottom: 15px"><span style=" color: white; background-color: #4f9d94; border-radius: 5px; padding: 20px 30px;">انتخاب موقعیت</span></p>

        </div>
    </div>
</div>