@model banimo.ViewModelPost.OrderList


<style>
</style>
<div class="back" style="display:none;text-align:right; direction: rtl;padding: 15px;background-color: #E1A52B;color: white;">

    <i class="fal fa-long-arrow-right" style="color: white;font-size: 20px;vertical-align: middle;"></i>
    <span style=" margin-right: 15px;font-size:15px">  @Resources.res.orders</span>
</div>
<div class="o-headline o-headline--profile"><span>@Resources.res.orders</span>   </div>

    <script>
        $(".back").click(function () {
            $("#SECTIONOFIBdiv").animate({
                'margin-right': number
            }, function () {
                $('#productlistHoLDER').html("");
                $("#SECTIONOFIBdiv").css("display", "none");

            });
        })
    </script>


    @if (Model.myOrder != null)
    {

        <div class="c-table-orders mustbehide">
            <div class="c-table-orders__head c-table-orders__head--highlighted">
            <div class="c-table-orders__row"><div class="c-table-orders__cell c-table-orders__cell--hash">#</div>
                <div class="c-table-orders__cell c-table-orders__cell--id">@Resources.res.orderNumber</div>
                <div class="c-table-orders__cell c-table-orders__cell--date">@Resources.res.registerDate</div>
                <div class="c-table-orders__cell c-table-orders__cell--receive-at">@Resources.res.deliveryDate</div>
                <div class="c-table-orders__cell c-table-orders__cell--price">@Resources.res.priceToPay </div>
                <div class="c-table-orders__cell c-table-orders__cell--price">@Resources.res.totalPrice</div>
                <div class="c-table-orders__cell c-table-orders__cell--payment">@Resources.res.status</div>
                <div class="c-table-orders__cell c-table-orders__cell--detail"> @Resources.res.details</div>
                </div></div><div class="c-table-orders__body">
                @{

                    foreach (var item in Model.myOrder)
                    {
                        int index = Model.myOrder.IndexOf(item) + 1;
                        string data = item.address + "," + item.fullname + "," + item.phone + "," + item.Rdate + "," + item.day + "," + item.price;

                        <div class="c-table-orders__row">
                            <div class="c-table-orders__cell c-table-orders__cell--hash">
                                @index
                            </div><div class="c-table-orders__cell c-table-orders__cell--id">@item.orderNumber</div><div class="c-table-orders__cell c-table-orders__cell--date">@item.date</div><div class="c-table-orders__cell c-table-orders__cell--receive-at">
                                @item.date
                            </div>
                            <div class="c-table-orders__cell c-table-orders__cell--price">
                                <div>0</div>
                            </div>
                            <div class="c-table-orders__cell c-table-orders__cell--price">
                                @item.price
                            </div><div class="c-table-orders__cell c-table-orders__cell--payment">@Resources.res.isPayed</div>
                            <div class="c-table-orders__cell c-table-orders__cell--detail"><i id="@item.ID" class="fas fa-chevron-left" style="font-size:42px; cursor:pointer"></i></div>
                        </div>
                        <div id="data" style="display:none">@data</div>
                    }
                }
                <script>
                    $(".fa-chevron-left").click(function () {
                        var data = $("#data").text();
                        var id = $(this).attr("id");
                        $.ajax({
                            url: '/Home/goGetOrderDetail',
                            dataType: 'html',
                            data: {
                                id: id,
                                data: data
                            },
                            success: function (data) {


                                if (window.innerWidth <950) {
                                    $("#SECTIONOFIBdiv").css("display", "block");
                                    $("#FILTERholder").css("display", "none");
                                }


                                $("#SECTIONOFIBdiv").css("height", "");
                                $('#productlistHoLDER').html(data);



                            }
                        });
                    })
                </script>


            </div>
        </div>

        <div class="mustbeshow">
            @{

                foreach (var item in Model.myOrder)
                {
                    int index = Model.myOrder.IndexOf(item) + 1;
                    string data = item.address + "," + item.fullname + "," + item.phone + "," + item.Rdate + "," + item.day + "," + item.price;

                    <div class="Itemholder" id="@item.ID">
                        <div class="Item">
                            <p class="itemtitle">@Resources.res.orderNumber</p>
                            <p class="itemvalue">@item.orderNumber</p>

                        </div>
                        <div class="Item">
                            <p class="itemtitle">@Resources.res.registerDate</p>
                            <p class="itemvalue">@item.date</p>
                        </div>
                        <div class="Item">
                            <p class="itemtitle">@Resources.res.totalPrice</p>
                            <p class="itemvalue" style="color:green">@Resources.res.toman @string.Format("{0:n0}", Convert.ToInt32(@item.price)) </p>
                        </div>

                        <div class="Item">
                            <p class="itemtitle">@Resources.res.status</p>
                            <p class="itemvalue">@Resources.res.isPayed</p>
                        </div>

                    </div>
                    <div id="data" style="display:none">@data</div>

                }


            }
        </div>

        <script>
            $(".Itemholder").click(function () {
                var data = $("#data").text();
                var id = $(this).attr("id");
                $.ajax({
                    url: '/Home/goGetOrderDetail',
                    dataType: 'html',
                    data: {
                        id: id,
                        data: data
                    },
                    success: function (data) {


                        if (window.innerWidth <950) {
                            $("#SECTIONOFIBdiv").css("display", "block");
                            $("#FILTERholder").css("display", "none");
                        }


                        $("#SECTIONOFIBdiv").css("height", "");
                        $('#productlistHoLDER').html(data);



                    }
                });
            })
        </script>


    }
    else
    {
        <div class="emptyholder" style="padding:10px;">
            <div class="c-profile-empty" style="">
                @Resources.res.noItemAlert
            </div>
        </div>

    }





