@model banimo.ViewModel.MyCollectionOfCatsList

@section scripts{

}


<style>
    .mainForParent {
        background-color: #f6f5f5;
    }

    .parentItem {
        padding: 5px;
        display: inline-block;
        padding: 30px;
        background-color: #eee;
        cursor: pointer;
    }

    .mainForParent .actv {
        background-color: #4d4d4d;
        color: white;
    }

    .parentItem:hover {
        background-color: #808080;
        color: white
    }
</style>

@{


    if (Model.catsParents != null)
    {
        <div class="mainForParent" style="text-align:right ; direction:rtl">
            @foreach (var item in Model.catsParents)
            {
                int index = Model.catsParents.IndexOf(item);
                if (index == 0)
                {
                    <div class="parentItem actv " id=" @item.ID" style="">
                        <p class="catparent">@item.title</p>
                    </div>
                }
                else
                {
                    <div class="parentItem " id=" @item.ID" style="">
                        <p class="catparent">@item.title</p>
                    </div>
                }

            }
            <script>
                $(".parentItem").click(function () {
                    var id = $(this).attr("id");

                })
            </script>
        </div>

    }

    <nav style="font-size:13px; color:#f6f5f5; background-color:#656565; padding-right:0px; border-bottom:2px solid black">


        <ul id="main-menu" class="sm sm-rtl sm-mint" style="z-index:1000; ">
            <li id="back" style=" display:none; cursor: pointer; border-bottom: 3px solid ; border-bottom-color:transparent"><a style="padding-right:20px"><i class="fa fa-arrow-left" style="margin-left:25px"></i>بازگشت</a></li>

            <li style="cursor: pointer; border-bottom: 3px solid ; border-bottom-color:transparent"><a href="@Url.Action("Index", "Home")">خانه</a></li>
            @{
                if (Model.catsdata.First().mycatcollection != null)
                {
                    foreach (var cat in Model.catsdata.First().mycatcollection)
                    {
                        string srtcat = "";
                        string subsrtcat = "";
                        string subsrtcat2 = "";

                        if (cat.IsFinal == "1")
                        {
                            srtcat = "1" + cat.ID;
                            <li style="cursor: pointer"><a href="@Url.Action("ProductList", "Home", new { catmode = srtcat, value =  @cat.title})">@cat.title</a></li>
                        }
                        else
                        {
                            string pID = "P" + cat.parentID;
                            srtcat = "1" + cat.ID;
                            <li class="li catItem @pID">
                                <div>
                                    <a href="@Url.Action("submenu", "Home", new { catmode = srtcat, value =  @cat.title})" style="cursor:default">@cat.title</a>


                                </div>
                                <ul>
                                    @if (Model.catsdata.First().mysubcatcollection != null)
                                    {
                                        foreach (var SB in Model.catsdata.First().mysubcatcollection)
                                        {


                                            if (SB.IsFinal == "1" && SB.CatID == cat.ID)
                                            {
                                                subsrtcat = "2" + SB.ID;
                                                @*<li><a href="@Url.Action("ProductList", "Home", new { catmode = subsrtcat })">@SB.title</a></li>*@
                                                <li><a href="/Home/submenu?catmode=@subsrtcat&value=@SB.title">@SB.title</a></li>
                                            }
                                            else if (SB.IsFinal == "0" && SB.CatID == cat.ID)
                                            {
                                                @*subsrtcat = "2" + SB.ID;
                                                    <li class="li">
                                                        <a href="/Home/ProductList?catmode=@subsrtcat&value=@SB.title">&nbsp;&nbsp;@SB.title</a>

                                                        <ul>
                                                            @if (Model.catsdata.First().mysubcatcollection2 != null)
                                                            {
                                                                foreach (var SB2 in Model.catsdata.First().mysubcatcollection2)
                                                                {
                                                                    if (SB2.subcatid == SB.ID)
                                                                    {


                                                                        subsrtcat2 = "3" + SB2.ID;
                                                                        <li><a href="@Url.Action("ProductList", "Home", new { catmode = subsrtcat2, value = @SB2.title })">@SB2.title</a></li>
                                                                    }
                                                                }
                                                            }

                                                        </ul>
                                                    </li>*@

                                            }



                                        }
                                    }

                                </ul>
                            </li>

                        }



                    }
                }
            }



        </ul>



    </nav>
    <script src="~/Scripts/jquery.smartmenus.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        })
    </script>
    <script>
        $('#back').click(function () {

            if ($(window).width() < 960) {
                $("#main-nav").hide(500);
                $("body").css("overflow", "scroll");
            }
            else {

            }

        });
        //$("li .li").hover(function () {
        //    $(this).parent().siblings().css("border-bottom", "3px red solid");

        //}, function () {
        //    $(this).parent().siblings().css("border-bottom", "");
        //}
        //);
    </script>
    if (@Model.catsParents != null)
    {
        <script>
        var id ="P"+@Model.catsParents.First().ID
            $(".catItem").css("display", "none");
            $("." + id).css("display", "block");
            $(".parentItem").click(function () {
                var thidid = "P" + $(this).attr('id');
                $(".catItem").css("display", "none");
                $("." + thidid).css("display", "block");
            })

        </script>


    }
    <script>
                 //$(".catItem").hover(function () {
                 //    $(this).css("position", "unset");
                 //    $(this).find('ul').css('width', window.width());
                 //}, function () {
                 //    $(this).css("position", "relative");
                 //    $(this).find('ul').css('width',"110%");
                 //})
    </script>

}

