
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav ps ps--active-y">




        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Product", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i> <span class="menu-title">مدیریت مطالب</span>  </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("productdetail", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i> <span class="menu-title">مدیریت فیلتر</span>   </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Menu", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i> <span class="menu-title">مدیریت دسته بندی</span>   </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Features", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i>  <span class="menu-title">مدیریت ویژگی محصول</span>  </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Orders", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i>  <span class="menu-title">مدیریت سفارشات</span>  </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Slider", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i> <span class="menu-title">مدیریت اسلایدر</span>   </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("comment", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i> <span class="menu-title">مدیریت نظر </span>  </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Profile", "Admin")"><i class="mdi mdi-email-outline menu-icon"></i> <span class="menu-title">پروفایل</span>  </a>
        </li>






    </ul>
</nav>