@model banimo.ViewModel.adminBankVM
@{
    ViewBag.Title = "bank";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }

    .fieldholder {
        /*width: 30%;
            display: inline-block;*/
        padding: 15px;
    }

    .REM {
        border-radius: 5px;
    }
</style>
<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" style=" color: #8d8d8d; ">سرفصل ها</a></li>
        <li><a data-toggle="tab" href="#menu1" style=" color: #8d8d8d; ">ثبت تراکنش</a></li>
        @*<li><a data-toggle="tab" href="#menu2" style=" color: #8d8d8d; ">ثبت درآمد ها</a></li>*@


    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" style="padding-top:20px">
            <div class="modal fade" id="delAccountModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <p>آیا از حذف آیتم مورد نظر اطمینان دارید؟</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="modalDelaccount">تایید</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="createAccount" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="accountForm" action="setNewAccount" method="post">
                            <input name="typeID" hidden id="typeID" />
                            <div class="formsection main1" style="display:none">
                                <div class="modal-body">
                                    <p>عنوان درآمد</p>
                                    <input id="daramadTitle"   name="daramadTitle" class="form-control" />
                                </div>
                            </div>
                            <div class="formsection main2" style="display:none">
                                <div class="modal-body">
                                    <p>عنوان هزینه</p>
                                    <input id="hazineTitle" name="hazineTitle" class="form-control" />
                                </div>
                            </div>
                            <div class="formsection main3" style="display:none">
                                <div class="modal-body">
                                    <p>عنوان صندوق</p>
                                    <input id="sandoghTitle" name="sandoghTitle" class="form-control" />
                                </div>
                            </div>
                            <div class="formsection main4" style="display:none">
                                <div class="modal-body">
                                    <p>عنوان بانک</p>
                                    <input id="bankTitle" name="bankTitle" class="form-control" />
                                    <p>شعبه بانک</p>
                                    <input id="bankshobe" name="bankshobe" class="form-control" />
                                    <p>شماره حساب</p>
                                    <input id="bankShomare" name="bankShomare" class="form-control" />
                                </div>
                            </div>
                        </form>



                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addAccountVerify">تایید</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                        </div>

                        <script>
                            $("#addAccountVerify").click(function () {

                              
                                var typeID = $("#typeID").val();

                            
                                if (typeID == "1") {
                                    var title = $("#daramadTitle").val();
                                   
                                    if (title == "") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('تمامی موارد را کامل کنید')
                                    }
                                    else {
                                        $("#accountForm").submit();
                                    }
                                }
                                else if (typeID == "2") {
                                    var title = $("#hazineTitle").val();
                                    if (title == "") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('تمامی موارد را کامل کنید')
                                    }
                                    else {
                                        $("#accountForm").submit();
                                    }
                                }
                                else if (typeID == "3") {
                                    var title = $("#sandoghTitle").val();
                                    if (title == "") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('تمامی موارد را کامل کنید')
                                    }
                                    else {
                                        $("#accountForm").submit();
                                    }
                                }
                                else if (typeID == "4") {
                                    var title = $("#bankTitle").val();
                                    var shobe = $("#bankshobe").val();
                                    var shomare = $("#bankShomare").val();
                                    if (title == "" || shobe == "" || shomare == "") {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.error('تمامی موارد را کامل کنید')
                                    }
                                    else {
                                        $("#accountForm").submit();
                                    }
                                }
                            })
                        </script>

                    </div>
                </div>
            </div>
            <div class="row" style="background-color:white; padding:10px; margin:0px;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#daramad" style=" color: #8d8d8d; ">درآمد</a></li>
                    <li><a data-toggle="tab" href="#hazine" style=" color: #8d8d8d; ">هزینه</a></li>
                    <li><a data-toggle="tab" href="#sandogh" style=" color: #8d8d8d; ">صندوق</a></li>
                    <li><a data-toggle="tab" href="#bank" style=" color: #8d8d8d; ">بانک</a></li>
                </ul>

                <div class="tab-content">
                    <div id="daramad" class="tab-pane fade in active" style="padding-top:20px">
                        <div class="row">

                            <div id="Listholder">
                                <div class="row" style="padding:20px">
                                    <div style="overflow-x:auto;padding:10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i>لیست درآمد ها  <i id="1" style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus addacount"></i></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="morris-area-chart">
                                                    <div style="overflow:auto">
                                                        <table class="table table-bordered table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        ID
                                                                    </th>
                                                                    <th>
                                                                        عنوان
                                                                    </th>

                                                                    <th>

                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (Model.List.Where(x => x.type == "درآمد") != null)
                                                                    {
                                                                        foreach (var item in Model.List.Where(x => x.type == "درآمد"))
                                                                        {

                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.ID)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.title)
                                                                                </td>



                                                                                <td style="text-align: center;">

                                                                                    @{
                                                                                        <a id=@item.ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>
                                                                                    }

                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                    }
                                                                }


                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                    <div id="hazine" class="tab-pane fade in " style="padding-top:20px">
                        <div class="row">

                            <div id="Listholder">
                                <div class="row" style="padding:20px">
                                    <div style="overflow-x:auto;padding:10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i>لیست هزینه ها  <i id="2" style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus addacount"></i></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="morris-area-chart">
                                                    <div style="overflow:auto">
                                                        <table class="table table-bordered table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        ID
                                                                    </th>
                                                                    <th>
                                                                        عنوان
                                                                    </th>

                                                                    <th>

                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (Model.List.Where(x => x.type == "هزینه") != null)
                                                                    {
                                                                        foreach (var item in Model.List.Where(x => x.type == "هزینه"))
                                                                        {

                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.ID)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.title)
                                                                                </td>



                                                                                <td style="text-align: center;">

                                                                                    @{
                                                                                        <a id=@item.ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>
                                                                                    }

                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                    }
                                                                }


                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                    <div id="sandogh" class="tab-pane fade in " style="padding-top:20px">
                        <div class="row">

                            <div id="Listholder">
                                <div class="row" style="padding:20px">
                                    <div style="overflow-x:auto;padding:10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i>لیست صندوق ها  <i id="3" style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus addacount"></i></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="morris-area-chart">
                                                    <div style="overflow:auto">
                                                        <table class="table table-bordered table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        ID
                                                                    </th>
                                                                    <th>
                                                                        عنوان
                                                                    </th>

                                                                    <th>

                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (Model.List.Where(x => x.type == "صندوق") != null)
                                                                    {
                                                                        foreach (var item in Model.List.Where(x => x.type == "صندوق"))
                                                                        {

                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.ID)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.title)
                                                                                </td>



                                                                                <td style="text-align: center;">

                                                                                    @{
                                                                                        <a id=@item.ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>
                                                                                    }

                                                                                </td>
                                                                            </tr>
                                                                        }

                                                                    }
                                                                }


                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                    <div id="bank" class="tab-pane fade in " style="padding-top:20px">
                        <div class="row">

                            <div id="Listholder">
                                <div class="row" style="padding:20px">
                                    <div style="overflow-x:auto;padding:10px">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i>لیست بانک ها  <i id="4" style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus addacount"></i></h3>
                                            </div>
                                            <div class="panel-body">
                                                <div id="morris-area-chart">
                                                    <div style="overflow:auto">
                                                        <table class="table table-bordered table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        ID
                                                                    </th>
                                                                    <th>
                                                                        عنوان
                                                                    </th>
                                                                    <th>
                                                                        شعبه
                                                                    </th>
                                                                    <th>
                                                                        شماره حساب
                                                                    </th>

                                                                    <th>

                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    if (Model.List.Where(x => x.type == "بانک") != null)
                                                                    {
                                                                        foreach (var item in Model.List.Where(x => x.type == "بانک"))
                                                                        {

                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ID)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.title)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.shobe)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.shomare)
                                                                    </td>

                                                                    <td style="text-align: center;">

                                                                        @{
                                                                            <a id=@item.ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>
                                                                        }

                                                                    </td>
                                                                </tr>
                                                                        }

                                                                    }
                                                                }


                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>

                </div>
                <script>
                    $(".addacount").click(function () {
                        var id = this.id;
                        $("#typeID").val(id);
                        $(".formsection").css("display", "none");
                        $(".main" + id).css("display", "inline-block");
                        $("#createAccount").modal('toggle');
                    })
                </script>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade in " style="padding-top:20px">
            <div class="row" style="background-color:white; padding:10px; margin:0px; ">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Sdaramad" style=" color: #8d8d8d; ">ثبت درآمد</a></li>
                    <li><a data-toggle="tab" href="#Shazine" style=" color: #8d8d8d; ">ثبت هزینه</a></li>
                    <li><a data-toggle="tab" href="#factor" style=" color: #8d8d8d; ">تسویه فاکتور</a></li>
                    <li><a data-toggle="tab" href="#deliver" style=" color: #8d8d8d; ">تسویه دلیور</a></li>
                    <li><a data-toggle="tab" href="#enteghal" style=" color: #8d8d8d; ">انتقال</a></li>
                </ul>

                <div class="tab-content">
                    <div id="Sdaramad" class="tab-pane fade in active" style="padding-top:20px">
                        <form id="">
                            <div class="row" style=" margin: 20px; padding: 35px; ">

                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>انتخاب نوع درآمد :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("income1", new SelectList(Model.List.Where(x => x.type == "درآمد"), "ID", "title"), "-- انتخاب درآمد --", new { id = "partnerListForPartner", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مقصد تراکنش :</label>
                                    @{


                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("destination1", new SelectList(Model.List.Where(x => x.type == "بانک" || x.type == "صندوق"), "ID", "title"), "-- انتخاب مقصد تراکنش --", new { id = "catListforPartner", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبلغ :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="price1" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>توضیحات :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="Desc1" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>

                                <div id="verifyCat" class="btn btn-primary" style="width:50px; margin-top:28px">تایید</div>

                            </div>
                        </form>
                        <script>
                            $("#verifyCat").click(function () {
                                var daramad = $("#income1").val();
                                var destination = $("#destination1").val();
                                var price = $("#price1").val();
                                var desc = $("#Desc1").val();


                                $.ajax({
                                    url: "setCustomTransaction",
                                    dataType: "html",
                                    data: {
                                        fromSource: daramad,
                                        toSource: destination,
                                        price: price,
                                        desc: desc,
                                        typeto: "2",
                                        typefrom: "2",
                                        sourseID: "6"


                                    },
                                    success: function (data) {
                                        window.location.reload();
                                    }
                                })
                            })
                        </script>
                    </div>
                    <div id="Shazine" class="tab-pane fade in " style="padding-top:20px">
                        <form id="">
                            <div class="row" style=" margin: 20px; padding: 35px; ">

                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>انتخاب نوع هزینه :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("to2", new SelectList(Model.List.Where(x => x.type == "هزینه"), "ID", "title"), "-- انتخاب هزینه --", new { id = "to2", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبدا تراکنش :</label>
                                    @{


                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("from2", new SelectList(Model.List.Where(x => x.type == "بانک" || x.type == "صندوق"), "ID", "title"), "-- انتخاب مقصد تراکنش --", new { id = "from2", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبلغ :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="price2" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>توضیحات :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="Desc2" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>

                                <div id="verifyCat2" class="btn btn-primary" style="width:50px; margin-top:28px">تایید</div>

                            </div>
                        </form>
                        <script>
                            $("#verifyCat2").click(function () {
                                var from = $("#from2").val();
                                var to = $("#to2").val();
                                var price = $("#price2").val();
                                var desc = $("#Desc2").val();


                                $.ajax({
                                    url: "setCustomTransaction",
                                    dataType: "html",
                                    data: {
                                        fromSource: from,
                                        toSource: to,
                                        price: price,
                                        desc: desc,
                                        typeto: "2",
                                        typefrom: "2",
                                        sourseID: "6"



                                    },
                                    success: function (data) {
                                        window.location.reload();
                                    }
                                })
                            })
                        </script>
                    </div>
                    <div id="factor" class="tab-pane fade in " style="padding-top:20px">
                        <form id="">
                            <div class="row" style=" margin: 20px; padding: 35px; ">

                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>انتخاب تامین کننده :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("to2", new SelectList(Model.partnerList, "ID", "title"), "-- انتخاب تامین کننده --", new { id = "to3", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبدا تراکنش :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("from2", new SelectList(Model.List.Where(x => x.type == "بانک" || x.type == "صندوق"), "ID", "title"), "-- انتخاب مقصد تراکنش --", new { id = "from3", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبلغ :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            <input id="price3" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>توضیحات :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="Desc3" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>

                                <div id="verifyCat3" class="btn btn-primary" style="width:50px; margin-top:28px">تایید</div>

                            </div>
                        </form>
                        <script>
                            $("#verifyCat3").click(function () {
                                var from = $("#from3").val();
                                var to = $("#to3").val();
                                var price = $("#price3").val();
                                var desc = $("#Desc3").val();


                                $.ajax({
                                    url: "setCustomTransaction",
                                    dataType: "html",
                                    data: {
                                        fromSource: from,
                                        toSource: to,
                                        price: price,
                                        desc: desc,
                                        typeto: "3",
                                        typefrom: "2",
                                        sourseID: "6"


                                    },
                                    success: function (data) {
                                        window.location.reload();
                                    }
                                })
                            })
                        </script>
                    </div>
                    <div id="deliver" class="tab-pane fade in " style="padding-top:20px">
                        <form id="">
                            <div class="row" style=" margin: 20px; padding: 35px; ">

                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>آی دی انتقال دهنده  :</label>
                                    @{
                                    <div class=" " style="width:100%">
                                        <input id="deliverID" class="form-control" style="width:100%; min-height:43px" />

                                    </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مقصد تراکنش :</label>
                                    @{


                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("destinationD", new SelectList(Model.List.Where(x => x.type == "بانک" || x.type == "صندوق"), "ID", "title"), "-- انتخاب مقصد تراکنش --", new { id = "destinationD", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبلغ :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="priceD" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>توضیحات :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="DescD" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>

                                <div id="verifydeliver" class="btn btn-primary" style="width:50px; margin-top:28px">تایید</div>

                            </div>
                        </form>
                        <script>
                            $("#verifydeliver").click(function () {
                              
                                var daramad = $("#deliverID").val();
                                var destination = $("#destinationD").val();
                                var price = $("#priceD").val();
                                var desc = $("#DescD").val();


                                $.ajax({
                                    url: "setCustomTransaction",
                                    dataType: "html",
                                    data: {
                                        fromSource: daramad,
                                        toSource: destination,
                                        price: price,
                                        desc: desc,
                                        typeto: "2",
                                        typefrom: "0",
                                        sourseID : "6"


                                    },
                                    success: function (data) {
                                        toastr.options = {
                                            "debug": false,
                                            "positionClass": "toast-top-center",
                                            "onclick": null,
                                            "fadeIn": 300,
                                            "fadeOut": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000
                                        }
                                        toastr.success('باموفقیت انجام شد')
                                       // window.location.reload();
                                        $("#deliverID").val("");
                                        $("#destinationD").val("");
                                        $("#priceD").val("");
                                        $("#DescD").val("");
                                    }
                                })
                            })
                        </script>
                    </div>
                    <div id="enteghal" class="tab-pane fade in " style="padding-top:20px">
                        <form id="">
                            <div class="row" style=" margin: 20px; padding: 35px; ">

                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبدا تراکنش :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("from4", new SelectList(Model.List.Where(x => x.type == "بانک" || x.type == "صندوق"), "ID", "title"), "-- انتخاب تامین کننده --", new { id = "from4", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مقصد تراکنش :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            @Html.DropDownList("to4", new SelectList(Model.List.Where(x => x.type == "بانک" || x.type == "صندوق"), "ID", "title"), "-- انتخاب مقصد تراکنش --", new { id = "to4", style = "width:100%; min-height:43px", @class = "form-control" })
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>مبلغ :</label>
                                    @{
                                        <div class=" " style="width:100%">
                                            <input id="price4" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>
                                <div class="autocomplete col-md-3 col-sm-3 col-xs-12">
                                    <label>توضیحات :</label>
                                    @{

                                        <div class=" " style="width:100%">
                                            <input id="Desc4" class="form-control" style="width:100%; min-height:43px" />
                                        </div>
                                    }
                                </div>

                                <div id="verifyCat4" class="btn btn-primary" style="width:50px; margin-top:28px">تایید</div>

                            </div>
                        </form>
                        <script>
                            $("#verifyCat4").click(function () {
                                var from = $("#from4").val();
                                var to = $("#to4").val();
                                var price = $("#price4").val();
                                var desc = $("#Desc4").val();


                                $.ajax({
                                    url: "setCustomTransaction",
                                    dataType: "html",
                                    data: {
                                        fromSource: from,
                                        toSource: to,
                                        price: price,
                                        desc: desc,
                                        typeto: "2",
                                        typefrom: "2",
                                        sourseID: "6"


                                    },
                                    success: function (data) {
                                        window.location.reload();
                                    }
                                })
                            })
                        </script>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>