@using BotDetect.Web.Mvc;
@using banimo.Classes;
@model banimo.AdminPanel.ViewModel.productGroupcsVM
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/easy-autocomplete.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.easy-autocomplete.min.js"></script>
<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }

    .fieldholder {
        /*width: 30%;
            display: inline-block;*/
        margin: 10px;
    }

    .REM {
        border-radius: 5px;
    }
</style>
<script>

     var filterstr = '@Model.filters';
       var filters = {
           data: filterstr.split("-"),
           list: {
               maxNumberOfElements: 10,
               match: {
                   enabled: true
               }
           }
            };
    var catstr = '@Model.cats';
        var cats = {
            data: catstr.split("-"),
            list: {
                maxNumberOfElements: 10,
                match: {
                    enabled: true
                }
            }
    };
     var subcatstr = '@Model.subcats';
        var subcats = {
            data: subcatstr.split("-"),
            list: {
                maxNumberOfElements: 10,
                match: {
                    enabled: true
                }
            }
    };
     var subcat2str = '@Model.subcats2';
        var subcats2 = {
            data: subcat2str.split("-"),
            list: {
                maxNumberOfElements: 10,
                match: {
                    enabled: true
                }
            }
                   };


</script>

<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" style=" color: #8d8d8d; ">لیست گروه محصولات</a></li>


    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" style="padding-top:20px">

            <div class="modal fade" id="pgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document" style="width:80%">
                    <div class="modal-content">
                        <div class="modal-header">

                        </div>
                        <div class="modal-body">
                            <div style="padding-top:20px">
                                @{
                                    List<SelectListItem> listItemsCat = new List<SelectListItem>();
                                    if (Model.filtercatsAll != null)
                                    {
                                        foreach (var item in Model.filtercatsAll)
                                        {
                                            listItemsCat.Add(new SelectListItem
                                            {
                                                Text = item.title,
                                                Value = "1" + item.ID
                                            });
                                            if (item.filtersubcat != null)
                                            {
                                                foreach (var subcat in item.filtersubcat)
                                                {
                                                    listItemsCat.Add(new SelectListItem
                                                    {
                                                        Text = "---" + subcat.title,
                                                        Value = "2" + subcat.ID
                                                    });
                                                    if (subcat.filtersubcat2 != null)
                                                    {
                                                        foreach (var subcat2 in subcat.filtersubcat2)
                                                        {
                                                            listItemsCat.Add(new SelectListItem
                                                            {
                                                                Text = "------" + subcat2.title,
                                                                Value = "3" + subcat2.ID
                                                            });
                                                        }
                                                    }

                                                }
                                            }

                                        }
                                    }

                                    List<SelectListItem> listItems = new List<SelectListItem>();

                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "هشتگ",
                                        Value = "tag"
                                    });
                                    if (Model.filters != "")
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "فیلتر",
                                            Value = "filter"
                                        });
                                    }

                                    if (Model.cats != "")
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "دسته بندی اول",
                                            Value = "cat"
                                        });
                                    }
                                    if (Model.subcats != "")
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "دسته بندی دوم",
                                            Value = "subcat"
                                        });
                                    }
                                    if (Model.subcats2 != "")
                                    {
                                        listItems.Add(new SelectListItem
                                        {
                                            Text = "دسته بندی سوم",
                                            Value = "subcat2"
                                        });
                                    }



                                }
                                @using (Html.BeginForm("setNewProductGroup", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "setNewProductGroup" }))
                                {

                                    @Html.AntiForgeryToken()
                                    <input id="type" name="type" type="hidden" />
                                    <input id="catID" name="catID" type="hidden" />
                                    <input id="catTitle" name="catTitle" type="hidden" />
                                    <input id="image" name="image" type="hidden" />
                                    <input id="ID" name="ID" type="hidden" />
                                    <input id="contentID" hidden />

                                    <div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:25px">



                                        <div class="tab-content">

                                            <div id="" class="" style="padding-top:20px">
                                                <div class="row">

                                                    <div class="row fieldholder col-lg-3">
                                                        <label style="text-align: right">
                                                            عنوان :
                                                        </label>

                                                        <div>
                                                            <span style="color:red; display:none">*</span>

                                                            <div id="contentHolder">
                                                                <input value="" type="text" id="title" name="title" required="required" class="form-control   ">
                                                            </div>


                                                        </div>

                                                    </div>
                                                    <div class="row fieldholder col-lg-3">
                                                        <label> دسته بندی</label>


                                                        <div class=" ">
                                                            <span style="color:red; display:none">*</span>
                                                            @Html.DropDownList("listofcat", listItemsCat, "select item", new { id = "listofcat", @class = "form-control" })

                                                        </div>
                                                    </div>
                                                    <div class="row fieldholder col-lg-3">
                                                        <label> انتخاب نوع محتوی</label>


                                                        <div class=" ">
                                                            <span style="color:red; display:none">*</span>
                                                            @Html.DropDownList("bannerList", listItems, "select item", new { id = "bannerList", @class = "form-control" })

                                                        </div>
                                                    </div>

                                                    <div class="row fieldholder col-lg-3">
                                                        <label style="text-align: right">
                                                            محتوا :
                                                        </label>

                                                        <div>
                                                            <span style="color:red; display:none">*</span>

                                                            <div id="contentHolder">
                                                                <input value="" type="text" id="catIDOrLink" name="catIDOrLink" required="required" class="form-control   ">
                                                            </div>


                                                        </div>

                                                    </div>
                                                    <div class="row fieldholder col-lg-3">
                                                        <label style="text-align: right">
                                                            اولویت :
                                                        </label>

                                                        <div>
                                                            <span style="color:red; display:none">*</span>

                                                            <div id="contentHolder">
                                                                <input value="" type="text" id="priority" name="priority" required="required" class="form-control   ">
                                                            </div>


                                                        </div>

                                                    </div>
                                                    <div class="row fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">

                                                        <label style="text-align: right">
                                                            عکس:

                                                        </label>

                                                        <div>

                                                            <input type="file" id="imageUpload" name="imageUpload" required="required" class="form-control  ">
                                                        </div>


                                                    </div>





                                                </div>

                                                <script>



                                                    //change autocomplete source based on selected type
                                                    $("#bannerList").change(function () {

                                                        var val = $("#bannerList  option:selected").val();

                                                        if (val === "filter") {
                                                            $("#catIDOrLink").easyAutocomplete(filters);
                                                        }
                                                        else if (val == "cat") {
                                                            $("#catIDOrLink").easyAutocomplete(cats);
                                                        }
                                                        else if (val == "subcat") {
                                                            $("#catIDOrLink").easyAutocomplete(subcats);
                                                        }
                                                        else if (val == "subcat2") {
                                                            $("#catIDOrLink").easyAutocomplete(subcats2);
                                                        }

                                                    });
                                                    // verify button

                                                </script>
                                            </div>

                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                            <button id="verify" type="button" class="btn btn-primary">تایید</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div id="Listholder">
                    <div class="row" style="padding:20px">
                        <div style="overflow-x:auto;padding:10px">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                    <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i> لیست گروه های محصولات </i>  <i id="addProductGroup" style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus"></i></h3>
                                </div>
                                <div class="panel-body">
                                    <div id="morris-area-chart">
                                        <div style="overflow:auto">
                                            <table class="table table-bordered table-hover table-striped" style="text-align:center">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">
                                                            ردیف
                                                        </th>
                                                        <th style="text-align:center">
                                                            عنوان
                                                        </th>
                                                        <th style="text-align:center">
                                                            نوع
                                                        </th>
                                                        <th style="text-align:center">
                                                            محتوا
                                                        </th>
                                                        <th style="text-align:center">
                                                            دسته بندی
                                                        </th>
                                                        <th style="text-align:center">
                                                            حذف
                                                        </th>
                                                        @*<th style="text-align:center">
                                                                ویرایش
                                                            </th>*@

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Model.grlist != null)
                                                        {
                                                            foreach (var item in Model.grlist)
                                                            {

                                                                int index = @Model.grlist.IndexOf(item) + 1;
                                                                <tr>
                                                                    <td>
                                                                        @index
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.title)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.type)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.catIDOrLink)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.catTitle)
                                                                    </td>
                                                                    <td>

                                                                        @{
                                                                            var ID = @item.ID;
                                                                            <a id=@ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>

                                                                        }

                                                                    </td>
                                                                    <td>

                                                                        @{

                                                                            <a id=@ID class="btn btn-primary Ebutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">ویرایش</a>

                                                                        }

                                                                    </td>

                                                                </tr>
                                                            }

                                                        }
                                                    }


                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="modal fade" id="deldiscountModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <p>آیا از حذف نظر اطمینان دارید؟</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="delDiscount">تایید</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var id = "";
                $(".Dbutton").click(function () {

                    $("#deldiscountModal").modal('toggle');
                    id = $(this).attr("id");


                })
                $("#delDiscount").click(function () {
                    $.ajax({
                        url: '/Admin/deleteDiscount',
                        dataType: 'html',
                        data: {
                            id: id,
                        },
                        success: function (data) {
                            if (data === "success") {

                                toastr.options = {
                                    "debug": false,
                                    "positionClass": "toast-top-center",
                                    "onclick": null,
                                    "fadeIn": 300,
                                    "fadeOut": 1000,
                                    "timeOut": 5000,
                                    "extendedTimeOut": 1000
                                }
                                toastr.success('آیتم مورد نظر با موفقیت حذف شد');
                                window.location.reload();
                            }
                            else {
                                $("#deldiscountModal").modal('toggle');
                                toastr.options = {
                                    "debug": false,
                                    "positionClass": "toast-top-center",
                                    "onclick": null,
                                    "fadeIn": 300,
                                    "fadeOut": 1000,
                                    "timeOut": 5000,
                                    "extendedTimeOut": 1000
                                }
                                toastr.error('شما قادر به حذف این مورد نیستید')
                            }
                        },
                        error: function () {

                        }
                    });
                });
            </script>


        </div>


    </div>
</div>
<script>
    $("#addProductGroup").click(function () {
        $("#pgModal").modal('toggle');
    })
    $("#verify").click(function () {

        var int = 0;
        $(".REM").each(function () {

            if ($(this).val() === "") {
                $(this).siblings("span").css("display", "inline-block");
                int = 1;
            }
        });

        if (int === 0) {

            $("#type").val($("#bannerList").val());
            $("#catID").val($("#listofcat").val());
            $("#catTitle").val($("#listofcat option:selected").text());
            $("#image").val($("#imageUpload").val());
            $("form#setNewProductGroup").submit();

        }
        else {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            };
            toastr.error('لطفاً تمامی موارد را کامل کنید');

        }


    })
</script>





