
@model banimo.ViewModelPost.OrderList


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row" style="margin:0">
                    <div class="col-lg-6" style="padding:25px">
                        <p>لطفا یکی از پیک ها را انتخاب کنید</p>
                        <div style="display:inline-block">
                            @if (Model.myUsers != null)
                            {

                                @Html.DropDownList("deliverDromdown", new SelectList(Model.myUsers, "ID", "fullname"), new { @class = "form-control", })


                            }

                        </div>
                    </div>
                    <div class="col-lg-6" style="padding:25px">
                        <p>توضحات ادمین</p>
                        <textarea id="adminDesc" class="form-control" cols="8" style="height:150px"></textarea>
                    </div>
                </div>


                <div id="setDeliver" style="display:inline-block" class="btn  btn-default">تایید</div>
                <div id="rowSelectd"></div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="endOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p style="text-align:center"> انتخاب منبغ واریزی</p>
                <select id="payment" class="form-control">

                    <option value="5">زرین پال</option>
                    <option value="1"> کیف پول</option>


                </select>
                <p style="display:none" id="verifyHolder"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                <button id="endOrderVerify" type="button" class="btn btn-primary">تایید</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="overflow-x:auto;padding:10px">
        <div class="panel panel-default">
            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i> آخرین سفارشات  </h3>
            </div>
            <div class="panel-body" style="max-height:500px; overflow-y:scroll">
                <div id="morris-area-chart">
                    <div style="overflow:auto">

                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="cursor:pointer" class="orderID">ردیف</th>
                                    <th>شماره سفارش</th>
                                    <th style="white-space: nowrap; ">کاربر</th>
                                    <th>موبایل کاربر</th>
                                    <th>مبلغ (@Resources.res.toman)</th>
                                    <th>تاریخ سفارش</th>
                                    <th style="cursor:pointer" class="order">تاریخ تحویل</th>
                                    <th>روز تحویل</th>
                                    <th>ساعت تحویل</th>
                                    <th>آدرس</th>
                                    <th>وضعیت</th>
                                    <th>توضیحات</th>
                                    <th>کد پستی</th>

                                    <th>جزئیات</th>
                                    <th>اقدامات</th>
                                    <th>دلیور</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.myOrder != null)
                                    {
                                        foreach (var item in Model.myOrder)
                                        {

                                            int i = Model.myOrder.IndexOf(item) + 1;

                                            <tr style=" ">
                                                <td>@i</td>
                                                <td>@item.orderNumber</td>
                                                <td style="white-space: nowrap;">@item.fullname</td>
                                                <td>@item.phone</td>
                                                <td>@item.price</td>
                                                <td>@item.date</td>
                                                <td>@item.Rdate</td>
                                                <td>@item.DayText</td>
                                                <td>@item.TimeFrom  - @item.TimeTo</td>
                                                <td>@item.address</td>
                                                <td>@item.statusTitle</td>
                                                <td> @item.desc</td>
                                                <td>@item.postalcode</td>
                                                @{
                                                    if (item.statusTitle == "پرداخت نشده")
                                                    {
                                                        <td><div class="btn btn-default endOrder" id="@item.ID">اتمام سفارش</div></td>

                                                    }
                                                    else
                                                    {
                                                        <td><div class="btn btn-default orderdetail" id="@item.ID">مشاهده جزئیات</div></td>

                                                    }
                                                }
                                                <td>
                                                    @{
                                                        if (item.statusTitle == "ارسال شده")
                                                        {
                                                            <div class="btn btn-default deliverorder" id="@item.ID">تحویل سفارش</div>


                                                        }
                                                        else if (item.statusTitle == "تحویل شده")
                                                        {


                                                        }
                                                        else
                                                        {
                                                            <div class="btn btn-default finalorder" id="@item.ID">ارسال سفارش</div>
                                                        }

                                                    }
                                                </td>
                                                <td class="deliver" id="@item.ID" style="cursor:pointer">
                                                    @item.deliver
                                                </td>

                                            </tr>
                                        }
                                    }
                                }




                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @{
        var total = (Convert.ToInt32(Model.count) / 12);
        var remain = (Convert.ToInt32(Model.count) % 12);
        if (remain != 0)
        {
            total = total + 1;
        }
        var activ = Convert.ToInt32(Model.current);
        var activminus2 = activ - 2;
        var activminus1 = activ - 1;
        var activplus1 = activ + 1;
        var activplus2 = activ + 2;



        if ((total - activ) > 3 & activ > 3)
        {
            <ul class="pagination">

                <li><a>«</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>1</a></li>
                @if (activminus2 > 2)
                {
                    <li><a>...</a></li>
                }

                <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus2</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus1</a></li>
                <li class="active"><a>@activ</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus1</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus2</a></li>
                <li><a> ...</a></li>
                <li><a>@total</a></li>
                <li><a>»</a></li>
            </ul>
        }
        else if ((total - activ > 3) && !(activ > 3))
        {
            <ul class="pagination">

                @for (int i = 1; i < activ; i++)
                {
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                }
                <li class="active"><a>@activ </a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus1</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activplus2</a></li>
                <li><a href="#">...</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@total</a></li>
                <li><a href="#">»</a></li>
            </ul>

        }
        else if (!(total - activ > 3) && activ > 3)
        {
            <ul class="pagination">

                <li><a>«</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>1</a></li>
                <li><a>...</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus2</a></li>
                <li style="cursor:pointer" class="pagingnumberforall"><a>@activminus1</a></li>
                <li style="cursor:pointer" class="active"><a>@activ </a></li>
                @for (int i = activ + 1; i <= total; i++)
                {
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                }
                <li><a>»</a></li>
            </ul>

        }
        else if (total > 1 && !((total - activ) > 3) && !(activ > 3))
        {

            <ul class="pagination">

                @for (int i = 1; i < activ; i++)
                {
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                }
                <li class="active"><a href="#">@activ</a></li>
                @for (int i = activ + 1; i <= total; i++)
                {
                    <li style="cursor:pointer" class="pagingnumberforall"><a>@i</a></li>
                }

            </ul>

        }

    }

    <script>
        $(".pagingnumberforall").click(function () {

            var num = this.textContent;
            getlofo(num);
        })

    </script>


</div>
<script>
    $(".order").click(function () {

        if ($("#dataOrder").text() == "11") {
            $("#dataOrder").text("12");

        }
        else {

            $("#dataOrder").text("11");

        }

        order = $("#dataOrder").text();
        type = $("#selectOrderType").val();

        $.ajax({
            url: '/Admin/ChangeOrderList',
            dataType: 'html',
            data: {
                type: type,
                order: order

            },

            success: function (data) {

                $("#OrderTableHolder").html(data);
            }



        });
    });
    $(".orderID").click(function () {

        if ($("#dataOrder").text() == "21") {
            $("#dataOrder").text("22");

        }
        else {

            $("#dataOrder").text("21");

        }

        order = $("#dataOrder").text();
        type = $("#selectOrderType").val();

        $.ajax({
            url: '/Admin/ChangeOrderList',
            dataType: 'html',
            data: {
                type: type,
                order: order

            },

            success: function (data) {

                $("#OrderTableHolder").html(data);
            }



        });
    });
    $(".endOrder").click(function () {
        var ID = $(this).attr('id');
        $("#endOrderModal").modal('toggle');
        $("#verifyHolder").text(ID);
    })
    $("#endOrderVerify").click(function () {
        var ID = $("#verifyHolder").text();
        var payment = $("#payment option:selected").val();

        if (payment == "2") {
            $.ajax({
                url: "/connection/finalizeOrder",
                dataType: "html",
                data: {
                    id: ID,
                    payment: payment
                },
                success: function (data) {
                    if (data == "200") {
                        $("#endOrderModal").modal('toggle');
                    }
                }
            })
        }
        else {
            $.ajax({
                url: "/connection/verifyByAdmin",
                dataType: "html",
                data: {
                    id: ID,
                    payment: payment
                },
                success: function (data) {
                    if (data == "200") {
                        $("#endOrderModal").modal('toggle');
                    }
                }
            })
        }


    })
    $(".orderdetail").click(function () {

        var ID = $(this).attr('id');
        //alert("aaa");
        //alert(ID);
        $.ajax({
            url: '/Admin/goGetOrderDetail',
            dataType: 'html',
            data: {
                id: ID,

            },

            success: function (data) {

                $(".detailHolder").html(data);

            }



        });
    })
    $(".deliverorder").click(function () {
        var ID = $(this).attr('id');

        $.ajax({
            url: '/connection/finalizeOrder',
            dataType: 'html',
            data: {
                id: ID,
            },

            success: function (data) {

                window.location.reload();
            }



        });
    })
    $(".finalorder").click(function () {
        $("#myModal").modal('toggle');
        idselected = $(this).attr('id');
    })
    $("#setDeliver").click(function () {
        $("#myModal").modal('toggle');
        var deliverID = $("#deliverDromdown").val();
        var description = $('textarea#adminDesc').val();
        $.ajax({
            url: '/Admin/finalizeOrderAndDeliver',
            dataType: 'html',
            data: {
                id: idselected,
                deliverID: deliverID,
                type: "4",
                desc: description
            },

            success: function (data) {

                window.location.reload();
            }



        });
    })
</script>
<div class="detailHolder">

</div>