@model banimo.ViewModelPost.ReqestForPaymentViewModel
@{
    ViewBag.Title = "VerifyWalletZarin";
}

<h2>@Model.address . @Model.city . @Model.country . @Model.fullname .  @Model.hourid . @Model.lat . @Model.lon . @Model.newdiscount . @Model.payment . @Model.phonenumber . @Model.postalcode   </h2>


